﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="RegenerateCache.aspx.cs" Inherits="DeskAlertsDotNet.Pages.AlertsRecieving.RegenerateCache" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

</html>
