﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="DefaultError.aspx.cs" Inherits="DeskAlertsDotNet.Pages.Errors.DefaultError" %>
<%@ Import Namespace="DeskAlertsDotNet.Parameters" %>
<%@ Import Namespace="Resources" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>DeskAlerts Error occured</title>
    <script language="javascript" src="../admin/jscripts/jquery/jquery.min.js"></script>
    <script language="javascript" src="../admin/jscripts/jquery/jquery-ui.min.js"></script>
    <link href="../admin/css/style9.css" rel="stylesheet" type="text/css">
    <link href="../admin/css/jquery/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <script language="javascript">
        $(document)
            .ready(function() {
                $("#downloadButton").button();
                $("#toggleDetails").button();

                $("#toggleDetails").click(function () {
                    var displayState = $("#details").css('display');

                    if (displayState == "none") {

                        $("#toggleDetails").button("option", "label", "Hide error details");
                        $("#toggleDetails").button();
                        $("#details").css("display", "block");
                    } else {


                        $("#toggleDetails").button("option", "label", "Show error details");
                        $("#details").css("display", "none");
                    }
                });

            });


    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <h1 style="font-size:20pt"><% =resources.LNG_ERROR_TITLE %></h1>
        <span style="font-size:14pt">
            <% =resources.LNG_ERROR_BODY %> <a href="mailto:priority_support@deskalerts.com?subject=DeskAlerts Crash Report">priority_support@deskalerts.com</a>
        </span>
           <br /><br/><b><a id="downloadButton" href="<%=crashReportLink %>" download><% =resources.LNG_ERROR_DOWNLOAD %></a></b>
        
           <br/><br/><a id="toggleDetails" href="#"><% =resources.LNG_ERROR_DETAILS %></a>
            <div id="details" style="display: none">
              <span style="font-size:13pt"> <% =crashReportText %></span> 
            </div>
    </div>
    </form>
</body>
</html>
