﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div>
        <h1 style="font-size:20pt">IIS Application Pool identity is set up incorrectly</h1>
        <span style="font-size:14pt">
            This issue has occured while attempting to use windows authentication to connect to database<br />
            To resolve this issue you please contact your system administrator and show him this error message.<br />
            If you are system administrator you have to make next steps to resolve this issue:<br /><br />

            <b>1.</b> In IIS manager, select application pool where DeskAlerts is installed<br />
            <img src="../admin/images/identity_error/step1.png" style="width:50%" /><br /><br />
            <b>2.</b> Select 'Advanced settings...' in 'Actions' panel on the right or in right-click context menu.<br />
            <img src="../admin/images/identity_error/step2.png" style="width:50%" /><br /><br />
            <b>3.</b> Find the "Identity" property under "Process Model" section and click "..." to change it<br />
            <img src="../admin/images/identity_error/step3.png" style="width:20%" /><br /><br />
            <b>4.</b>  Use the "Custom account" option and provide the credentials for AD account with dbo rights over DeskAlerts database. Be sure to specify the username in "domain\username" format.<br />
            <img src="../admin/images/identity_error/step4.png" /><br /><br />
			<b>5.</b> Go to Authentication feature for the website where DeskAlerts is installed and edit Anonymous authnetication settings. Set the credentials to "Application pool identity".<br />
			<img src="../admin/images/identity_error/step5.png" /><br /><br />
            <b>6.</b> Restart IIS to apply the changes.
			<br/><br/>
			<b>Note: if you have several applications running on your default app pool, you should consider creating a separate app pool for DeskAlers before changing the Identity.</b>

            <br /><br />If DeskAlerts still not working after that contact <a href="mailto:priority_support@deskalerts.com?subject=DeskAlerts Pool Identity Issue">priority_support@deskalerts.com</a>
        </span>
        <!--    <br /><br/><b><a id="downloadButton" href="<%=crashReportLink %>" download>Download crash report</a></b>

            <br/><br/><a id="toggleDetails" href="#">Show error details</a>
             <div id="details" style="display: none">
               <span style="font-size:13pt"> <% =crashReportText %></span>
             </div> -->
    </div>
</body>
</html>
