body {}
body.opt {}
body.optcontent {overflow-y:hidden}
body.reg {}
body.regcontent {}
body.hist {}
body.histcontent {}
body.alert {}
body.alertcontent {padding-left:20px;padding-right:20px}
body.ticker {background-color:#2a5be6}
body.tickercontent {}

.ticker_separator {}
.ticker_image {display:none!important}
.readitButton {margin-left:5px!important}

.contentTable {}
body.opt .contentTable {}
body.reg .contentTable {}
body.hist .contentTable {}
body.alert .contentTable {}

.contentDiv1 {}
.contentDiv2 {}
.contentDiv3 {}
.contentDiv4 {}

.borderDiv {}

.titleTable {top:23px}
.alerttitle {font:bold 18px Arial;color:#000000}
.alertcreate {font:13px Arial;color:#7b7a7a}
.alerttitle_td {padding-left:20px;padding-top:3px;}
.alertcreate_td {padding-right:20px;}
.beforetitle_td {display:none}
.aftertitle_td {display:none}

.caption {left:10px;top:3px;font-family:Arial;font-size:12px;font-weight:600;color:#FFFFFF;}

.close_img {right:10px;top:3px;}
body.ticker .close_img {top:25%;right:6px;}

.clear_img {display:none}
.clear_but {left:12px;top:25px;height:20px;font-family:verdana;color:#000000;font-size:11px;}
.searchinput {right:75px;top:25px;border:1px solid #555555;width:178px;font-family:verdana;vertical-align:middle;font-size:11px;height:20px;}
.searchinput_normal {font-style:italic;color:#555555;}
.searchinput_focused {font-style:normal;color:black;}
.search_img {display:none}
.search_but {right:12px;top:25px;font-family:Verdana;color:#000000;font-size:11px;height:20px;}

.hoveredRow {background-color:#EACCCC}
.topic_row .topic {width:55%;font-weight:bold}
.topic_row .date {width:45%;text-align:right}

.save_button {}
.cancel_button {}
.apply_button {}
.cancel_img {display:none}
.save_img {display:none}
