﻿.policy_Tab {
    & > div {
        margin: 0 0 1rem 0;

        &:first-Of-Type {
            margin-top: 1rem;
        }

        input, label {
            height: 1rem;
            line-height: 1rem;
        }

        input {
            vertical-align: bottom;
        }

        label {
            margin-left: 0.4rem;
        }
    }

    input {
        margin: 0;
    }
}

.policy_SkinsTab {
    .policy_choosingSkinsList_checkBoxList {

        @hoverColor: #e7f3eb;

        tr {
            display: inline-block;
        }

        td {
            position: relative;
            border: 1px solid #f0f0f1;

            &:hover {
                border-color: @hoverColor;
                background-color: @hoverColor;
            }

            input {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                margin: 0 0 0 0.6rem;
            }

            input:checked + label {
                background-color: @hoverColor;
            }

            label {
                display: inline-block;
                height: auto;
                padding: 1rem 1.6rem 0.6rem 2rem;
                margin: 0;

                div {
                    text-align: center;
                }
            }
        }
    }
}

.policy_ContentSettingsTab {
}