﻿.policy_Tab > div {
  margin: 0 0 1rem 0;
}
.policy_Tab > div:first-Of-Type {
  margin-top: 1rem;
}
.policy_Tab > div input,
.policy_Tab > div label {
  height: 1rem;
  line-height: 1rem;
}
.policy_Tab > div input {
  vertical-align: bottom;
}
.policy_Tab > div label {
  margin-left: 0.4rem;
}
.policy_Tab input {
  margin: 0;
}
.policy_SkinsTab .policy_choosingSkinsList_checkBoxList tr {
  display: inline-block;
}
.policy_SkinsTab .policy_choosingSkinsList_checkBoxList td {
  position: relative;
  border: 1px solid #f0f0f1;
}
.policy_SkinsTab .policy_choosingSkinsList_checkBoxList td:hover {
  border-color: #e7f3eb;
  background-color: #e7f3eb;
}
.policy_SkinsTab .policy_choosingSkinsList_checkBoxList td input {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 0 0 0.6rem;
}
.policy_SkinsTab .policy_choosingSkinsList_checkBoxList td input:checked + label {
  background-color: #e7f3eb;
}
.policy_SkinsTab .policy_choosingSkinsList_checkBoxList td label {
  display: inline-block;
  height: auto;
  padding: 1rem 1.6rem 0.6rem 2rem;
  margin: 0;
}
.policy_SkinsTab .policy_choosingSkinsList_checkBoxList td label div {
  text-align: center;
}