﻿table {
    width: 100%;
    border-collapse: collapse;

    tr {
        td, th {
            padding: 0;
        }
    }
}

.settings-alertLanguages {
    @paddingSize: 1rem;
    @widthWithoutPadding: 2*@paddingSize;

    @totalMargins: 0 0 @paddingSize 0;

    padding: @paddingSize;
    width: calc(50% ~"-" @widthWithoutPadding);
    min-width: 500px;

    h1, h2, h3, h4, h5, h6 {
        margin: @totalMargins;
    }

    a {
        &:hover {
            color: #066c19;
        }
    }

    .table3 {
        margin: @totalMargins;
    }

    .settings-alertTranslation {
        margin: @totalMargins;

        .settings-alertTranslation-note {
            color: #aaa;
        }

        .settings-alertTranslation-checkboxActivation {
            margin: 0 0 0.7rem 0;
        }
    }

    .settings-alertLanguages-controlButtons {
        text-align: right;

        &:last-child {
            margin: 0;
        }
    }
}
