﻿table {
  width: 100%;
  border-collapse: collapse;
}
table tr td,
table tr th {
  padding: 0;
}
.settings-alertLanguages {
  padding: 1rem;
  width: calc(50% - 2rem);
  min-width: 500px;
}
.settings-alertLanguages h1,
.settings-alertLanguages h2,
.settings-alertLanguages h3,
.settings-alertLanguages h4,
.settings-alertLanguages h5,
.settings-alertLanguages h6 {
  margin: 0 0 1rem 0;
}
.settings-alertLanguages a:hover {
  color: #066c19;
}
.settings-alertLanguages .table3 {
  margin: 0 0 1rem 0;
}
.settings-alertLanguages .settings-alertTranslation {
  margin: 0 0 1rem 0;
}
.settings-alertLanguages .settings-alertTranslation .settings-alertTranslation-note {
  color: #aaa;
}
.settings-alertLanguages .settings-alertTranslation .settings-alertTranslation-checkboxActivation {
  margin: 0 0 0.7rem 0;
}
.settings-alertLanguages .settings-alertLanguages-controlButtons {
  text-align: right;
}
.settings-alertLanguages .settings-alertLanguages-controlButtons:last-child {
  margin: 0;
}