﻿<div style="padding-left:17px;">{TITLE}</div>
<hr>
<form id='form' method="post">
    <table id='answers_table'>
        <tr>
            <td colspan='2'>
                <textarea cols='50' rows='5' id='custom_answer' name='custom_answer' oninput='onChangeCustomAnswer()'></textarea>
            </td>
        </tr>
        <tr>
            <td colspan='2'>
                <span id='custom_answer_count'></span>
            </td>
        </tr>
    </table>
    <br>
    <input type='image' src='admin/images/submit_button.gif' name='submit' value='Submit' onclick='return checkSubmit();'>
    <input type='hidden' name='shouldEnd' value='{END}' />
    <input type='hidden' name='num' value='{NUMBER}' />
    <input type='hidden' name='data' value='{DATA}' />
    <input type='hidden' name='q_num' value='{NUMBER}' />
    <input type='hidden' name='user_id' value='{USER_ID}' />
    <input type='hidden' name='question_id' value='{QUESTION_ID}' />
    <input type='hidden' name='survey_id' value='{SURVEY_ID}' />
</form>