/*---preview skin---*/

.ui-button, .ui-button .ui-button-text {
    /* IE6-7 hack */
    /*display: inline !important;*/
    zoom: 1 !important;
}

.ui-dialog {
    z-index: 999 !important;
}

.iframe_preview {
    bottom: 10px;
    right: 10px;
    width: 480px;
    height: 360px;
}

.div_preview {
    width: 500px;
    height: 400px;
}

.ticker_preview {
    background-color: #2a5be6;
    padding: 0;
}

.preview_close {
    bottom: 393px;
    right: 11px;
    width: 16px;
    height: 16px;
}

/*---preview skin---*/

.ed_ou {
    cursor: hand;
    cursor: pointer;
}

.ed_ou_selected {
    background-color: #010161;
    color: #ffffff;
    cursor: hand;
    cursor: pointer;
}

.ou_path {
    font-size: 8pt;
    color: #999999;
}

/*---new preview skin---*/
.notitle .ui-dialog-titlebar {
    display: none
}
/*---new preview skin---*/

.body, .iframe_body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.body {
    background-color: white;
}

.top_body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: black;
    /*border-bottom:1px solid #b3b3b7;
	border-left:1px solid #b3b3b7;*/
}

.menu_body a {
    text-decoration: none;
}

.menu_frame {
    border-bottom: 1px solid #b3b3b7;
    border-right: 1px solid #b3b3b7;
}

.top_body .attention {
    font-weight: bold;
}

.top_body .requirements {
    font-weight: 400;
}

.top_body .curdate {
    font-size: 14px;
}

.top_body a {
    color: black;
}

.bottom_body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding-top: 6px;
    color: black;
    text-align: center;
    border-top: 1px solid #b3b3b7;
}

    .bottom_body a {
        color: black;
    }

.login_body {
    background-color: white;
    position: relative;
}

    .login_body a {
        color: black;
    }

.menu_body {
    background-color: white;
    margin: 0;
}

.loader_body iframe {
    border-left: 1px solid #b3b3b7;
}

.widget_main_table {
    border: none;
}

.row {
    margin: 10px;
}

.label {
    width: 70px;
    display: inline-block;
}

.main_table {
    border: 1px solid #b3b3b7;
}

.main_table_title {
    background-color: #f0f0f1;
}

.header_title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin-left: 10px;
}

.main_table_body {
    background-color: #ffffff;
    vertical-align: top;
    height: 100%;
}

.work_header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.data_table {
    border: 1px solid #ACE0F9;
    border-collapse: collapse;
}

    .data_table tr td {
        border: 1px solid #b3b3b7;
    }

.data_table_title {
    background-color: #f0f0f1;
    font-weight: bold;
    border: 1px solid gray;
}

    .data_table_title a {
        color: black;
    }

.data_table td.table_title {
    color: black;
}

a {
    color: black;
}

div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

table td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

table.fullsize {
    width: 100%;
    height: 100%;
}

.menu_spacer {
    background-color: #b3b3b7;
    display: none;
}

.menu {
    background-color: #f5f5f5;
    height: 31px;
}

    .menu a {
        text-decoration: underline;
    }

.menu_item {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.menu_text {
    margin-left: 0;
    color: black;
}

.bottom_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: black;
    margin-top: 5px;
}

/*.logout {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: black;
	text-decoration:none;
	border:1px solid white !important;
	margin-bottom:4px;
	background:#f0f0f1 !important;
}
.logout:hover {
	background:#f0f0f1 URL('jquery/images/ui-bg_glass_75_dadada_1x400.png') 50% 50% repeat-x !important;
}*/

.login_table {
    border: 1px solid #b3b3b7;
}

/*--- not understand*/

.table_title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: black;
    text-align: center;
}

.table_get {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.folders {
    background-color: white;
    padding: 5px 5px 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: black;
}

    .folders a {
        color: black;
    }

.legend {
    height: 8px;
    width: 8px;
    font-size: 1px;
}

.chartLegend tr td {
    padding-right: 5px;
    padding-left: 5px;
}

.overall_link {
    font-size: 16px;
}

.statsAlertPreview {
    background-color: #eeeeee;
    width: 100%;
    height: 50px;
}

.list_iframe {
    width: 520px;
    height: 300px;
}

.list_select {
    width: 220px;
    height: 300px;
}

.ticker_info {
    font-size: 14px;
    font-weight: bold;
    font-family: Arial;
    color: rgb(166,22,45);
}
.videoAlert_info {
    font-size: 14px;
    font-weight: bold;
    font-family: Arial;
    color: rgb(166,22,45);
    padding: 0 0 1rem 20px;
    /*
        image:
        <?xml version="1.0" encoding="UTF-8"?><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"><g stroke="#ffa300" stroke-width="2.23"><circle fill="#ffffff" cx="10" cy="10" r="8.5652"/><path d="M10,4.188V12.657M10,13.438V15.813"/></g></svg>
    */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIiBzdHlsZT0id2lkdGg6IDEwMHB4O2hlaWdodDogMTAwcHg7Ij48ZyBzdHJva2U9IiNmZmEzMDAiIHN0cm9rZS13aWR0aD0iMi4yMyI+PGNpcmNsZSBmaWxsPSIjZmZmZmZmIiBjeD0iMTAiIGN5PSIxMCIgcj0iOC41NjUyIi8+PHBhdGggZD0iTTEwLDQuMTg4VjEyLjY1N00xMCwxMy40MzhWMTUuODEzIi8+PC9nPjwvc3ZnPg==);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 16px;
}

.scheduled_tasks_div {
    font-weight: bold;
    color: red;
}

ul > .tile {
    background: #f0f0f1;
    cursor: pointer;
    cursor: hand;
    opacity: 0.65;
    filter: alpha(opacity=65);
}

.tile {
    background: #f0f0f1;
    cursor: pointer;
    cursor: hand;
}


.tiny_buttons_settings {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 81px;
}

.disabled_tiny_button {
    background-image: url("../img/disabled_tiny_button.gif") !important;
    background-repeat: no-repeat !important;
    background-position: center, center !important;
}

.helpDiv {
    background: white;
    width: 215px;
    height: 100%;
    padding: 5px;
    -moz-transition: margin 0.3s linear;
    -o-transition: margin 0.3s linear;
    -webkit-transition: margin 0.3s linear;
    -ms-transition: margin 0.3s linear;
    transition: margin 0.3s linear;
}

.helpIframe {
    width: 100%;
    height: 100%;
}

.helpBody {
    background: white;
    overflow-y: auto;
    overflow-x: hidden;
}

    .helpBody strong {
        font-weight: bold;
	color:#78a540;
    }

    .helpBody h1 {
	color:#78a540;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        text-align: center;
}

    .helpBody h2 {
	color:#78a540;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    .helpBody h3 {
	color:#78a540;
        font-size: 12px;
        font-style: italic;
        font-family: Arial, Helvetica, sans-serif;
    }

    .helpBody p {
        color: black;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .helpBody ul, ol {
        margin-left: 0;
        padding: 0;
        list-style-position: inside;
        color: black;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
    }

.help_td {
    padding: 0;
}

.helpBody li {
    margin-bottom: 5px;
}

td.buy_addons_spacer {
    display: none;
}

.dashboardCell_scheduled {
    background-color: #efefff;
}

.dashboardCell_scheduled_odd {
    background-color: #eaeaff;
}

.dashboardCell_1day {
    background-color: #efffef;
}

.dashboardCell_1day_odd {
    background-color: #eaffea;
}

.dashboardCell_notscheduled {
    background-color: #fff2f2;
}

.dashboardCell_notscheduled_odd {
    background-color: #ffeded;
}

.dashboardCell_noalert {
    background-color: white;
}

.dashboardCell_noalert_odd {
    background-color: #f4f4f4;
}

.legendCell {
    padding: 5px;
    vertical-align: middle
}

.csLegend {
    /*first width - for browsers, second - for ie6*/
    width: auto !important;
    width: 500px;
    float: right;
    height: 31px;
    padding-top: 2px;
}

.username {
    font-weight: bold;
	color:#78a540;
}

.menu_body .single .ui-accordion-header-icon {
    display: none;
}

.contentschedule tr td {
    border: 1px solid #cecece;
}

.theme-colored-back {
    background-color: #066c19;
	background-color: #f5f5f5;
}

.hints {
    color: #777777;
}

.header_title.header_white {
    color: White;
}

.im_tile {
    background: #f0f0f1;
    height: 225px;
    width: 200px;
}

.im_tile_header {
    background: #747474;
    height: 25px;
    width: 100%;
    padding: 10px 0 0 0;
    text-align: center;
    text-decoration: none;
}

.im_tile_send {
    background: #747474;
    height: 150px;
    margin: 0;
    width: 100%;
}

    .im_tile_send.red {
        background: #d66060;
    }

    .im_tile_send.yellow {
        background: #d6d160;
    }

    .im_tile_send.green {
        background: #73d660;
    }

    .im_tile_send.blue {
        background: #609dd6;
    }

.im_tile_separator {
    background: white;
    height: 10px;
    margin: 0;
}

a > .im_tile_preview {
    margin: 0;
    height: 40px;
    width: 33%;
    float: left;
    vertical-align: middle;
    opacity: 0.65;
    filter: alpha(opacity=65);
}

.im_tile_preview {
    margin: 0;
    height: 40px;
    width: 50%;
    float: left;
    vertical-align: middle;
}

a > .im_tile_delete {
    margin: 0;
    height: 40px;
    width: 33%;
    float: left;
    vertical-align: middle;
    opacity: 0.65;
    filter: alpha(opacity=65);
}

.im_tile_delete {
    margin: 0;
    height: 40px;
    width: 50%;
    float: left;
    vertical-align: middle;
}

ul > .tile_hovered {
	background: #FFE3E3;
	opacity:1.0;
	filter:alpha(opacity=100);
}

li > .tile_hovered {
	background: #FFE3E3;
	opacity:1.0;
	filter:alpha(opacity=100);
}

a > .im_tile_hovered {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.tile_hovered {
	background: #FFE3E3;
}

.body.dashboard_body {
    margin: 0;
}

.dashboard_field {
    padding: 15px;
    /*border:1px solid #b3b3b7;*/
}

.widget-tile {
    background-color: #F5F5F5;
}

.widget_hint {
    position: absolute;
    font-size: 15px;
    font-family: Verdana;
    text-align: left;
    background-color: rgba(0,0,0,0.7);
    z-index: 998;
    top: 0;
    left: 0;
    height: 176px;
    width: 205px;
    color: white;
    padding: 7px;
    display: none;
    cursor: default;
}

.ui-state-default.ui-button {
    color: #111;
    border-radius: 3px;
    /*background:#066c19;
	border:1px solid #066c19;*/
    background: white;
    border: 1px solid #999;
}

    .ui-state-default.ui-button:hover {
        /*background:#085116;
	border:1px solid #398439;*/
        background: #eee;
        border: 1px solid #666;
    }

#logout, .ui-state-default.ui-button.send_button, .ui-state-default.ui-button.start_survey_button, .ui-state-default.ui-button.launch_campaign_button, .save_button, .ui-state-default.ui-button.green, #add_another, .ui-state-default.ui-button.save_and_next_button, .ui-state-default.ui-button.add_alert_button, .ui-state-default.ui-button.add_question, .ui-state-default.ui-button.end_questions, #save_and_next_button, #choose_screensaver_button, #addButton, #send_it, #statistics_show_button {
	color: White;
	border-radius: 3px;
	background: #78a540;
	border: 1px solid #78a540;
}

#logout:hover, .ui-state-default.ui-button.send_button:hover, .ui-state-default.ui-button.start_survey_button:hover, .ui-state-default.ui-button.launch_campaign_button:hover, .save_button:hover, .ui-state-default.ui-button.green:hover, #add_another:hover, .ui-state-default.ui-button.save_and_next_button:hover, .ui-state-default.ui-button.add_alert_button:hover, .ui-state-default.ui-button.add_question:hover, .ui-state-default.ui-button.end_questions:hover, #save_and_next_button:hover, #choose_screensaver_button:hover, #addButton:hover, #send_it:hover, #statistics_show_button:hover {
	background: #628f2a;
	border: 1px solid #537f1d;
}

    .ui-state-default.ui-button.add_this {
        color: Black;
        background: #f0f0f1;
        border: 1px solid #b3b3b7;
    }

        .ui-state-default.ui-button.add_this:hover {
            background: #f0f0f1;
            border: 1px solid #b3b3b7;
        }

.ui-tooltip {
    background: white;
    border: 2px solid #999;
}

.ui-tooltip {
    padding: 10px 20px;
    color: black;
    font: 14px "verdana", Sans-Serif;
    box-shadow: 0 0 7px black;
}

.ui-state-default.ui-button .ui-icon {
    background-image: url(jquery/images/ui-icons_066c19_256x240.png);
}

#logout .ui-icon, .ui-state-default.ui-button.start_survey_button .ui-icon, .ui-state-default.ui-button.launch_campaign_button .ui-icon, .save_button .ui_icon, .ui-state-default.ui-button.green .ui-icon, #add_another .ui-icon, .ui-state-default.ui-button.save_and_next_button .ui-icon, .ui-state-default.ui-button.add_alert_button .ui-icon, .ui-state-default.ui-button.add_question .ui-icon, .ui-state-default.ui-button.end_questions .ui-icon, #save_and_next_button .ui-icon, #choose_screensaver_button .ui-icon, #addButton .ui-icon, #send_it .ui-icon, #statistics_show_button .ui-icon {
    background-image: url(jquery/images/ui-icons_ffffff_256x240.png);
}

.ui-icon.portlet-toggle {
    background-image: url(jquery/images/ui-icons_ffffff_256x240.png);
}

.ui-icon.portlet-destroy {
    background-image: url(jquery/images/ui-icons_ffffff_256x240.png);
}

.ui-state-default.ui-button.ui-button-icon-only .ui-icon {
    background-image: url(jquery/images/ui-icons_066c19_256x240.png);
}


.portlet-header {
	background: #78a540;
	color: white;
}

.menu_icon {
	width: 30px;
	height: auto;
} 

.folders .menu_icon {
	width: 20px;
	height: auto;
} 

.menu_item {
	font-size: 14px;
	font-weight: normal;
}

.menu_text{
	margin-left: 8px;
}

.group .folders {
    background: #f0f0f1;
}

.dz-preview {
    z-index: 10;
}

.dz-filename {
    background-image: url('../images/alert_types/video_big.png');
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: center;
}

.ui-tooltip {
    max-width: 350px;
}
/*-- no activity at the moment --*/
#isZero {
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -175px;
    top: 50%;
    margin-top: -25px;
    width: 350px;
    height: 50px;
    padding: 2px 5px 2px 5px;
    z-index: 100;
    color: #696969;
    font-size: 30px;
    opacity: 0.8;
}

.full_height {
    height: 100%;
}

.max_height_body {
    height: 1000px;
}

.max_height_menu {
    height: 1000px;
}

.max_height {
    height: 562px;
}

.no_borders {
    border: 0;
}

.full_width {
    width: 100%;
}

.top_menu_height {
    height: 62px;
}

.main_menu_width {
    width: 240px;
}

.block {
    float: left;
}

.vertial_align_middle {
    vertical-align: middle;
}

.no_margins {
    margin: 0;
}

.no_paddings {
    padding: 0;
}

.display_none {
    display: none;
}

.activeDirectoryImportForm .files_upload {
    margin-bottom: 10px;
}

.loader-panel {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #066c19;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    z-index: 1;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.AddResipientsBody {
    height: calc(100% - 16px);
}

#form1 {
    height: 100%;
}

#EditGroupMemberHtml {
    height: 100%;
}

#EditGroupMemberBody {
    height: calc(100% - 16px);
}

#added_users {
    height: calc(100% - 70px);
    overflow: hidden;
}

#RecipientSelectionTableId {
    height: calc(100% - 30px);
}

#OrganizationAudienceHtml {
    height: 100%
}

#OrganizationAudienceBody {
    height: calc(100% - 16px);
}

    #OrganizationAudienceBody .main_table_body {
        height: 100%;
    }

        #OrganizationAudienceBody .main_table_body > div {
            padding: 10px;
            height: calc(100% - 16px);
        }

    #OrganizationAudienceBody #OrganizationAudienceBody_usersContainer {
        width: 100%;
        height: calc(100% - 50px);
        padding: 0;
    }

    #OrganizationAudienceBody #OrganizationAudienceBody_tableContainer {
        width: 100%;
        border: 0;
        padding: 6px;
        height: calc(100% - 16px);
    }

#EditPolicyHtml {
    height: 100%;
}

#EditPolicyBody {
    height: calc(100% - 16px);
}
