body, td, pre {color:#000; font-family:Verdana, Times New Roman, Helvetica, sans-serif; font-size:10px; margin:8px; }
h1 {font-size: 2em}
h2 {font-size: 1.5em}
h3 {font-size: 1.17em}
h4 {font-size: 1em}
h5 {font-size: .83em}
h6 {font-size: .75em}

body.opt {}
body.optcontent {overflow-y:hidden}
body.reg {}
body.regcontent {}
body.hist {}
body.histcontent {}
body.alert {}
body.alertcontent {padding-left:20px;padding-right:20px}
body.ticker {background-color:#c1c1c1}
body.tickercontent {padding-top:0px !important; padding-bottom:3px !important}

.ticker_separator {}
.ticker_image {display:none!important}
.readitButton {margin-left:5px!important}

.contentTable {}
body.opt .contentTable {}
body.reg .contentTable {}
body.hist .contentTable {}
body.alert .contentTable {}

body .img03f{display:block }
body .img03{display:none }
body .img06{display:none }
body .img08{display:none }
body .img11f{display:none }
body .img11s{display:none }
body .img11{display:none }
body .td03{background:URL('img_03.gif') /* text-align:right;*/}
body .td06{background:URL('img_06.gif') }
body .td08{background:URL('img_08.gif') }
body .td11{background:URL('img_11.gif') }


.contentDiv1 {}
.contentDiv2 {}
.contentDiv3 {}
.contentDiv4 {}

body.hist .contentDiv1 {background: url(search_input_bg.gif) no-repeat; height:29px; width:214px; right:100px;top:70px; z-index:151}

.borderDiv {}

.titleTable {top:70px}
.alerttitle {font:bold 18px Arial;color:#000000}
.alertcreate {font:13px Arial;color:#7b7a7a}
.alerttitle_td {padding-left:20px;padding-top:3px;}
.alertcreate_td {padding-right:20px;}
.beforetitle_td {display:none}
.aftertitle_td {display:none}
.top_template_td {padding-left:20px; padding-right:20px;}
.top_template {}
.bottom_template_table{bottom:10px;} 
.bottom_template_td {padding-left:20px; padding-right:20px;}
.bottom_template {}

.caption {right:30px;top:9px;font-family:Arial;font-size:12px;font-weight:600;color:#7b7a7a;}

body.reg .caption {left:10px;top:70px;font-family:Arial;font-size:12px;font-weight:600;color:#BDBDBD;}

.close_img {right:10px;top:10px;}
.close_div {right:10px;top:10px;width:30px;height:30px;}
body.ticker .close_img {top:25%;right:4px;}

.clear_img {left:12px;top:70px;height:29px;font-family:verdana;color:#000000;font-size:11px;}
.clear_but {display:none}
.searchinput { right:110px;top:76px;border:0px solid #555555;width:170px; font-family:verdana;vertical-align:middle;font-size:11px; height:15px; display: block; background:transparent; outline:none; }
.searchinput_normal {font-style:italic;color:#555555;}
.searchinput_focused {font-style:normal;color:black;}
.search_img {right:12px;top:70px;font-family:Verdana;color:#000000;font-size:11px;height:29px;}
.search_but {display:none}

.hoveredRow {background-color:#EACCCC}
.topic_row .topic {width:55%;font-weight:bold}
.topic_row .date {width:45%;text-align:right}
.topic_row .icon {width:20px; height:20px; background-image:URL('history_icons.gif');}
.topic_row .icon.alert {background-position: 0px 0px}
.topic_row .icon.alert.urgent {background-position: -20px 0px}
.topic_row .icon.screensaver {background-position: -60px 0px}
.topic_row .icon.wallpaper {background-position: -40px 0px}
.topic_row .icon.alert.rss {background-position: -80px 0px}
.hoveredRow .icon.alert {background-position: 0px -20px}
.hoveredRow .icon.alert.urgent {background-position: -20px -20px}
.hoveredRow .icon.screensaver {background-position: -60px -20px}
.hoveredRow .icon.wallpaper {background-position: -40px -20px}
.hoveredRow .icon.alert.rss {background-position: -80px -20px}

.save_button {display:none}
.cancel_button {display:none}
.apply_button {display:none}
.next_button {display:none}
.previous_button {display:none}
.cancel_img {}
.save_img {}
.next_img {font-family:Verdana;color:#000000;font-size:11px;height:29px;vertical-align:middle; cursor:pointer;}
.previous_img {font-family:Verdana;color:#000000;font-size:11px;height:29px;vertical-align:middle; cursor:pointer;}
.page_input {border:1px solid #555555;width:30px;font-family:verdana;vertical-align:middle;font-size:13px;height:24px;}
.hist_cell{font-family:Verdana;color:#000000;font-size:12px;}

.ticker_title{margin:0px !important; padding:0px !important;}
.ticker_title_container{border-width:1px !important; height:10px !important; border-color:black !important; border-style:solid !important; font-weight:bold;  padding-bottom: 0px !important;  padding-right: 1px !important; padding-left: 1px !important; margin-bottom:5px !important;}
.ticker_box{margin-top:1px !important;}
.ticker_after_title_td{width:3px !important;}
.DeskAlertsSearch{border-collapse: collapse !important; text-indent:0px !important; padding:0px !important; margin:0px !important; background-color:blue; }
