﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="RssSender.aspx.cs" Inherits="DeskAlertsDotNet.sever.MODULES.RSS.RssSender" %>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<%-- ReSharper disable once MissingTitleTag --%>
<head runat="server"></head>
<body>
    <form id="form1" runat="server">
        <div></div>
    </form>
</body>
</html>
