{Header}

<script>

    window.parent.parent.document.getElementById('menu').src = window.parent.parent.document.getElementById('menu').src;
	function showScreenSaverPreview(alertId)
	{
		getAlertData(alertId,false,function(alertData){	
			data = JSON.parse(alertData);
		});

		var html = data.alert_html;
		$("#preview_html").val(html);

		var params  = 'width='+screen.width;
		params += ', height='+screen.height;
		params += ', top=0, left=0'
		params += ', fullscreen=yes';

        window.open('','preview_win', params);

		$("#preview_post_form").submit();
		hideLoader();
    }

$(document).ready(function() {
$(".main_table_title").prepend("<img src='images/menu_icons/screensaver_20.png' alt='' width='20' height='20' border='0' style='padding-left:7px'>")
    var width = $(".data_table").width();
    var pwidth = $(".paginate").width();
    if (width != pwidth) {
        $(".paginate").width("100%");
    }
});

	$(function(){
		$("#screensaver_add_button").button();
	})
</script>

<span class="work_header">{pageHeader}</span>
<table style="width:100%;margin-bottom:4px">
<tr>
	<td align="right">
		<!--BeginScreenSaverAddButton-->
		<a id="screensaver_add_button" href="{ScreensaverAddLink}">{ScreenSaverAddStr}</a>
		<!--EndScreenSaverAddButton-->
	</td>
</tr>
</table>
{paging}
{StartDeleteForm}
<table width="100%" cellspacing="0" cellpadding="3" class="data_table">
	<tr class="data_table_title">
		<td width="10px"><input type='checkbox' name='select_all' id='select_all' onclick='javascript: select_all_objects();'></td>
		<td class="table_title">{ScreensaverNameStr}</td>
		{ScreensaverStatusStr}
		<td class="table_title">{ScreensaverCreationDateStr}</td>
		<td class="table_title">{ScreensaverScheduledStr}</td>
		<td class="table_title">{ScreensaverSenderStr}</td>
		<td class="table_title">{ScreensaverActionStr}</td>
	</tr>
	<!--BeginDListScreensavers-->
	<tr align="center">
		<td width="10px">
			<input type="checkbox" name="objects" value="{ScreensaverId}">
		</td>
		<td>
		{ScreensaverName}
		</td>
		{ScreensaverStatus}
		<td>
		{ScreensaverCreationDate}
		</td>
		<td>
		{ScreensaverScheduled}
		</td>
		<td>
		{ScreensaverSender}
		</td>
		<td nowrap="nowrap">
		{ScreensaverActions}
		</td>
	</tr>
	<!--EndDListScreensavers-->
</table>
{EndDeleteForm}
{paging}
<br><br>
<form style="margin:0px; width:0px; height:0px; padding:0px" id="preview_post_form" action="ScreensaverPreview.aspx" method="post" target="preview_win">
	<input type="hidden" id="preview_html" name="html"  value=""/>
</form>
{Footer}
