<style>
	html, body	{
		padding: 0px;
		margin: 0px;
		overflow: auto;
		width:100%;
		height:100%
	}
	.container{
		margin:0 auto;
		color: black;
		overflow:hidden;
	}
</style>
<div>
    <img style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; height: 300px; width: 1052px;" src="{DeskAlertsAdminPath}admin/images/DeskAlerts Logo.png" />
</div>