{Header}
<!-- TinyMCE -->
<script language="javascript" type="text/javascript" src="jscripts/tiny_mce/tinymce.min.js"></script>
<script language="javascript" type="text/javascript" src="jscripts/jquery.hotkeys.js"></script>
<!-- /TinyMCE -->
<script language="javascript" type="text/javascript">


    (function ($) {
        $(function () {

            $(document).tooltip({
                items: "img[title],a[title]",
                position: {
                    my: "center bottom-20",
                    at: "center top",
                    using: function (position, feedback) {
                        $(this).css(position);
                        $("<div>")
                       .addClass("arrow")
                       .addClass(feedback.vertical)
                       .addClass(feedback.horizontal)
                       .appendTo(this);
                    }
                }
            });


            $("#screensaver_table").tabs();
            $(".main_table_title")
                .prepend("<img src='images/menu_icons/screensaver_20.png' alt='' width='20' height='20' border='0' style='padding-left:7px'>")
            resizeAllframes();
        });

    })(jQuery);

    function resizeIframe(id) {
        var iframeDoc = document.getElementById(id);
        iframeDoc.height = window.frameElement.scrollHeight - 150;
        var h;
        if (iframeDoc.contentDocument) {
            h = iframeDoc.contentDocument.documentElement.scrollHeight; //FF, Opera, and Chrome
            h = iframeDoc.contentDocument.body.scrollHeight; //ie 8-9-10
            if (iframeDoc.height < h) iframeDoc.height = h;
        } else {
            h = iframeDoc.contentWindow.document.body.scrollHeight; //IE6, IE7 and Chrome
            if (iframeDoc.height < h) iframeDoc.height = h;
        }
    }

    function resizeAllframes() {
        var height = window.frameElement.scrollHeight - 150;
        document.getElementById('if_powerpoint_button').height = height;
        document.getElementById('if_image_button').height = height;
        document.getElementById('if_html_button').height = height;
        document.getElementById('if_video_button').height = height;
    }

    $(document)
        .bind('keydown',
            'Alt+1',
            function () {
                $('#screensaver_table').tabs("option", "active", 0);

            });

    $(document)
        .bind('keydown',
            'Alt+2',
            function () {
                $('#screensaver_table').tabs("option", "active", 1);

            });

    $(document)
        .bind('keydown',
            'Alt+3',
            function () {
                $('#screensaver_table').tabs("option", "active", 2);
            });

    $(document)
        .bind('keydown',
            'Alt+4',
            function () {
                $('#screensaver_table').tabs("option", "active", 3);
            });

</script>

<table class="main_table_body" width="100%" scrolling="auto" height="100%">
    <tr>
        <td>
            <div id="screensaver_table" style="padding:0px;height:100%;width:100%;border:none; ">
                <ul>
                    <li><a href="#screensaver_powerpoint_button" onclick="resizeIframe('if_powerpoint_button');">{PowerPointScreensaverStr} <img border=0 style="cursor:pointer;cursor:hand" src="images/help.png" title="{LNG_SCREENSAVER_FROM_POWERPOINT_HINT}" /></a></li>
                    <li><a href="#screensaver_image_button" onclick="resizeIframe('if_image_button');">{ImageScreensaverStr} <img border=0 style="cursor:pointer;cursor:hand" src="images/help.png" title="{LNG_SCREENSAVER_IMAGE_BASED_HINT}" /></a></li>
                    <li><a href="#screensaver_video_button" onclick="resizeIframe('if_video_button');">{VideoScreensaverStr} <img border=0 style="cursor:pointer;cursor:hand" src="images/help.png" title="{LNG_SCREENSAVER_VIDEO_BASED_HINT}" /></a></li>
                    <li><a href="#screensaver_html_button" onclick="resizeIframe('if_html_button');">{HtmlScreensaverStr} <img border=0 style="cursor:pointer;cursor:hand" src="images/help.png" title="{LNG_SCREENSAVER_HTML_BASED_HINT}" /></a></li>
                </ul>
                <a id="screensaver_powerpoint_button"><iframe id="if_powerpoint_button" frameborder="no" style="width:100%;" src="{screensaver_edit_url_powerpoint}"></iframe></a>
                <a id="screensaver_image_button"><iframe id="if_image_button" frameborder="no" style=" width:100%;" src="{screensaver_edit_url_image}"></iframe></a>
                <a id="screensaver_html_button"><iframe id="if_html_button" frameborder="no" style="width:100%;" src="{screensaver_edit_url_html}"></iframe></a>
                <a id="screensaver_video_button"><iframe id="if_video_button" frameborder="no" style="width:100%;" src="{screensaver_edit_url_video}"></iframe></a>
            </div>
        </td>
    </tr>
</table>

{Footer}