<%@ Page Language="C#" AutoEventWireup="true" CodeFile="DeleteDSignFolders.aspx.cs" Inherits="DeskAlerts.Server.admin.DigitalSignage.DeleteDSignFolders" %>
            
    <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
    <html>

 </html>
 