﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="LifetimeDropdown.ascx.cs" Inherits="DeskAlerts.Server.admin.DigitalSignage.LifetimeDropdown" %>
<select runat="server" id="lifetimeDropDown" ></select>
