/*---preview skin---*/

.ui-button, .ui-button .ui-button-text {
	/* IE6-7 hack */
	*display: inline ! important;
	zoom: 1 ! important;
}

.iframe_preview{
	bottom:10px; 
	right:10px;
	width: 480px;
	height: 360px;
}
.div_preview{
	width:500px; 
	height:400px;
}
.ticker_preview{
	background-color:#2a5be6;
	padding:0px;
}
.preview_close{
	bottom:393px; 
	right:11px; 
	width: 16px; 
	height: 16px;
}

/*---preview skin---*/

.ed_ou {
	cursor: hand;
	cursor: pointer;
}
.ed_ou_selected{
	background-color: #010161;
	color: #ffffff;
	cursor: hand;
	cursor: pointer;
}
.ou_path{
	font-size: 8pt;
	color: #999999;
}

/*---new preview skin---*/
.notitle .ui-dialog-titlebar {display:none}
/*---new preview skin---*/

.body, .iframe_body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.body {
	background-color: #909090;
}

.top_body {
	background-color: #008dce;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: white;
	border-left:1px solid white;
	border-bottom:1px solid white;
}

.top_body .attention {
	font-weight:bold;
}

.top_body .download_links {
}

.top_body .requirements {
	font-weight:400;
}

.top_body .curdate {
	font-size:14px;
}

.top_body a {
	color: white;
}

.bottom_body {
	background-color: #008dce;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	padding-top: 6px;
	color: white;
	text-align: center;
	background-image: URL(../images/back_bottom.gif);
	border-top:1px solid white;
}

.bottom_body a {
	color: white;
}

.login_body {
	background-color: #008dce;
}

.login_body a {
	color: white;
}

.menu_body {
	background-color: #008dce;
	margin: 0px;
}

.loader_body iframe {
	border-left:1px solid white;
}

.main_table {
	border: 1px solid #008dce;
}

.main_table_title{
	background-image: url("../images/title_back.gif");
}

.header_title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration:none;
	margin-left:10px;
}

.main_table_body {
	background-color: #ffffff;
	vertical-align: top;
}

.work_header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #000000;
}

.data_table {
	border: 1px solid #ACE0F9;
	border-collapse: collapse;
}
.data_table tr td{
	border: 1px solid #ACE0F9;
}

.data_table_title {
	background-color: #ACE0F9;
	font-weight: bold;
}

.data_table_title a{
	color: #003B57;
}

.data_table td.table_title {
	color: #003B57;
}

a
{
	color: #2a497e;
}

div
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
table td 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.menu_spacer{
	background-color: white;
}

.menu {
	background-image : url("../images/menu_back.gif");
	height : 31px;
}

.menu a {
	text-decoration: underline;
}

.menu_item {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	text-decoration:none;
}
.menu_text{
	margin-left : 0px;
	color: #ffffff;
	}

.bottom_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	margin-top : 5px;
}

.logout {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration:none;
	border:1px solid white !important;
	margin-bottom:4px;
}

.login_table {
	border:1px solid white;
}

/*--- not understand*/

.table_title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-align : center;
}
.table_get {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.folders {
	background-color:#ffffff;
	padding: 5px 5px 5px 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
.folders a{
	color: #2a497e;
}
.legend
{
	height: 8px; 
	width: 8px; 
	font-size: 1px;
}

.overall_table
{
}

.overall_link
{
	font-size: 16px;
}

.statsAlertPreview
{
	background-color:#eeeeee;
	width: 100%;
	height: 50px;
}

.list_iframe
{
	width: 520px;
	height: 300px;
}

.list_select
{
	width: 220px;
	height: 300px;
}

.ticker_info
{
	font-size: 14px;
	font-weight: bold;
	font-family: Arial;
	color: red;
}

.scheduled_tasks_div
{
	font-weight: bold;
	color: red;
}

ul > .tile
{
	background: #008bce;
	cursor:pointer;
	cursor:hand;
	opacity:0.65;
	filter:alpha(opacity=65);
}

.tile
{
	background: #008bce;
	cursor:pointer;
	cursor:hand;
}

ul > .tile_hovered
{
	background: #3aaee7;
	opacity:1.0;
	filter:alpha(opacity=100);
}

.tile_hovered
{
	background: #3aaee7;
}


.tiny_buttons_settings
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	overflow-x: hidden;
	overflow-y: hidden;
	height: 81px;
}

.disabled_tiny_button{
	background-image: url("../img/disabled_tiny_button.gif") !important;
	background-repeat: no-repeat !important;
	background-position: center, center !important;
}

.helpDiv{
    width : 215px;
    height : 100%;
	background-color: white;
    border : 1px solid #008DCE;
    border-radius: 10px; 
    padding: 5px;
    
    -moz-transition:margin 0.3s linear;	
    -o-transition:margin 0.3s linear;	
    -webkit-transition:margin 0.3s linear;	
    -ms-transition:margin 0.3s linear;	
    transition:margin 0.3s linear;	
}

.helpIframe{
    width : 100%;
    height : 95%;
}

.helpBody{
	overflow-y:auto;
	overflow-x:hidden;
}

.helpBody strong{
	font-weight: bold;
	color:#2035AB;
}

.helpBody h1{
	color:#2035AB;
	font-size:14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
}

.helpBody h2{
	color:#2035AB;
	font-size:13px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.helpBody h3{
	color:#2035AB;
	font-size:12px;
	font-style:italic;
	font-family: Arial, Helvetica, sans-serif;
}

.helpBody p{
	color:black;
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
}

.helpBody ul, ol{
	margin-left:0px;
	padding:0px;
	list-style-position:inside;
	color:black;
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
}
.helpBody li{
	margin-bottom:5px;
}

td.buy_addons{
}
td.buy_addons a, td.buy_addons span{
}
td.buy_addons_spacer{
	display: none;
}

.dashboardCell_scheduled
{
	background-color:#efefff;
}

.dashboardCell_scheduled_odd
{
	background-color:#eaeaff;
}

.dashboardCell_1day
{
	background-color:#efffef;
}

.dashboardCell_1day_odd
{
	background-color:#eaffea;
}

.dashboardCell_notscheduled
{
	background-color:#fff2f2;
}

.dashboardCell_notscheduled_odd
{
	background-color:#ffeded;
}

.dashboardCell_noalert
{
	background-color:white;
}

.dashboardCell_noalert_odd
{
	background-color:#f4f4f4;
}

.legendCell
{
	padding:5px;
	vertical-align:middle
}

.csLegend
{
	/*first width - for browsers, second - for ie6*/
	width:auto !important;
	width:500px;
	float:right;
	height:31px;
	padding-top:2px;
}

.username
{
	font-weight:bold;
	color:White;
}

.menu_body .single .ui-accordion-header-icon
{
	display: none;
}

.menu_body .single .ui-accordion-header-icon
{
	display: none;
}

.contentschedule tr td
{
	border:1px solid #cecece;
}

.theme-colored-back
{
	background-image: url("../images/title_back.gif");
}

.hints
{
	color:#f9f9f9;
}
