         
        table
        {
            table-layout: fixed;
        }
        div.button_div
        {
            padding-bottom: 10px;
            float: left;
        }
        table.alerts_table td.table_title
        {
            padding: 3px 5px;
        }
        table.alerts_table td
        {
            padding: 0px;
            vertical-align: top;
            white-space: nowrap;
            height: 15px;
            overflow: hidden;
        }
        table.alerts_table td.weekdays
        {
            padding: 3px 5px;
            text-align: center;
        }
        table.alerts_table td.by_days
        {
            text-align: left;
        }
        table.alerts_table td.by_day
        {
            text-align: left;
        }
        div.alert_div
        {
            padding: 2px 0px;
        }
        img.class_img
        {
            border: 0px none;
            width: 15px;
            height: 15px;
            margin-right: 3px;
            vertical-align: middle;
        }
        .ui-datepicker
        {
            z-index: 100 !important;
        }
        div.alert_data
        {
            padding: 3px 5px;
            z-index: 2;
            text-align: center;
        }
        table.alert_data_bg
        {
            z-index: 1;
        }
        table.alert_data_bg, table.alert_data_bg tr, table.alert_data_bg td
        {
            border: none;
            margin: 0px;
            padding: 0px;
        }

          .column {
            
            float: left;
            border: 0px;
          }
          .portlet {

          }
          .portlet-header {
            padding: 0.2em 0.3em;
            margin-bottom: 0.5em;
            position: relative;
          }
          .portlet-toggle {
            position: absolute;
            top: 50%;
            right: 10px;
            margin-top: -8px;
            cursor:pointer;
          }
          .portlet-content {
            padding: 0.4em;
          }
          .portlet-placeholder {
            border: 1px dotted black;
            background-color: #F5F5F5;

            margin: 1em 1em 3em 1em;
          }
