.add_button {
	padding: 2px 7px;
	line-height: 1.0;
}

.add_button .ui-button-text {
	padding: 0px 1px 0px 1px;
	line-height: 1.0;
}

.count_down_input
{
	width:45px;
	padding:0px;
	height:22px;
}

.count_down_delete_img
{
	margin-left:5px;
	position:relative;
}

.count_down_cell
{
	padding:0px;
	vertical-align: middle;
	height:24px;
}

.div_form
{
	width: 600px;
}

fieldset {
	clear: left;
	width: 100%;
	margin: 0 0 1em 0;
	padding: 0;
	border: 1px solid #BFBAB0;
	background-color: #F2EFE9;
}

fieldset legend {
	margin-left: 1em;
	padding: 0;
	color: #000;
	background: url('../images/whiteline.gif') repeat-x 0px 3px;
}

fieldset ol {
	list-style: none;
}

fieldset li {
	float: left;
	clear: left;
	width: 100%;
	padding-bottom: 0.5em;
}

fieldset label {
	float: left;
	width: 5em;
	margin-right: 1em;
}

.inside_fieldset {
	margin-bottom: -0.5em;
	border-style: none;
	background-color: transparent;
	background-image: none;
}
.inside_fieldset legend {
	margin-left: 0;
	font-weight: normal;
}

.inside_fieldset ol {
	position: relative;
	top: -2em;
	margin: 0 0 0 18em;
	padding: 0;
}

.inside_fieldset label {
	float: none;
	width: auto;
	margin-right: auto;
}

.inside_fieldset span {
	float: left;
	width: 8em;
}

{
	height: 160px;
}
.reccurence_div{
	height: 160px;
	width: 460px;
}

.reccurence_pattern label {
	float: none;
	width: auto;
	margin-right: auto;
}

.reccurence_div label {
	float: none;
	width: auto;
	margin-right: auto;
}
