html, body, td, pre {color:#000; font-family:Verdana, Times New Roman, Helvetica, sans-serif; font-size:10px; margin:0px; }
h1 {font-size: 2em}
h2 {font-size: 1.5em}
h3 {font-size: 1.17em}
h4 {font-size: 1em}
h5 {font-size: .83em}
h6 {font-size: .75em}