

/*---preview skin---*/

.ui-button, .ui-button .ui-button-text {
	/* IE6-7 hack */
	*display: inline ! important;
	zoom: 1 ! important;
}

.iframe_preview{
	bottom:10px; 
	right:10px;
	width: 480px;
	height: 360px;
}
.div_preview{
	width:500px; 
	height:400px;
}
.ticker_preview{
	background-color:#2a5be6;
	padding:0px;
}
.preview_close{
	bottom:393px; 
	right:11px; 
	width: 16px; 
	height: 16px;
}

/*---preview skin---*/

.ed_ou {
	cursor: hand;
	cursor: pointer;
}
.ed_ou_selected{
	background-color: #010161;
	color: #ffffff;
	cursor: hand;
	cursor: pointer;
}
.ou_path{
	font-size: 8pt;
	color: #999999;
}
 	 	 	 	
/*---new preview skin---*/
.notitle .ui-dialog-titlebar {display:none}
/*---new preview skin---*/

.body, .iframe_body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.body {
	background-color: white;
}

.top_body {
	background-color: #f0f0f1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: black;
	border-left:1px solid #b3b3b7;
	border-bottom:1px solid #b3b3b7;
}

.top_body .attention {
	font-weight:bold;
}

.top_body .download_links {
}

.top_body .requirements {
	font-weight:400;
}

.top_body .curdate {
	font-size:14px;
}

.top_body a {
	color: black;
}

.bottom_body {
	background-color: #f0f0f1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding-top: 6px;
	color: black;
	text-align: center;
	border-top:1px solid #b3b3b7;
}

.bottom_body a {
	color: black;
}

.login_body {
	background-color: #f0f0f1;
	position:relative;
}

.login_body a {
	color: black;
}

.menu_body {
	background-color: #f0f0f1;
	margin: 0px;
}

.loader_body iframe {
	border-left: 1px solid #b3b3b7;
}

.main_table {
	border: 1px solid #b3b3b7;
}

.main_table_title{
	background-color: #f0f0f1;
}

.header_title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: black;
	text-decoration:none;
	margin-left:10px;
}

.main_table_body {
	background-color: #ffffff;
	vertical-align: top;
}

.work_header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: black;
}

.data_table {
	border: 1px solid #ACE0F9;
	border-collapse: collapse;
}
.data_table tr td{
	border: 1px solid #b3b3b7;
}

.data_table_title {
	background-color: #f0f0f1;
	font-weight: bold;
	border: 1px solid gray;
}

.data_table_title a{
	color: black;
}

.data_table td.table_title {
	color: black;
}

a
{
	color: black;
}

div
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
table td 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.menu_spacer{
	background-color: #b3b3b7;
}

.menu {
	background-color: #f0f0f1;
	height : 31px;
}

.menu a {
	text-decoration: underline;
}

.menu_item {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: black;
	text-decoration:none;
}
.menu_text{
	margin-left : 0px;
	color: black;
	}

.bottom_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: black;
	margin-top : 5px;
}

.logout {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: black;
	text-decoration:none;
	/*border:1px solid white !important;*/
	margin-bottom:4px;
	background:#f0f0f1 !important;
}
.logout:hover {
	background:#f0f0f1 URL('jquery/images/ui-bg_glass_75_dadada_1x400.png') 50% 50% repeat-x !important;
}

.login_table {
	border:1px solid #b3b3b7;
}

/*--- not understand*/

.table_title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: black;
	text-align : center;
}
.table_get {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.folders {
	background-color: #f0f0f1;
	padding: 5px 5px 5px 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: black;
}
.folders a{
	color: black;
}
.legend
{
	height: 8px; 
	width: 8px; 
	font-size: 1px;
}

.chartLegend tr td
{
	padding-right:5px;
	padding-left:5px;
}

.overall_table
{
}

.overall_link
{
	font-size: 16px;
}

.statsAlertPreview
{
	background-color:#eeeeee;
	width: 100%;
	height: 50px;
}

.list_iframe
{
	width: 520px;
	height: 300px;
}

.list_select
{
	width: 220px;
	height: 300px;
}

.ticker_info
{
	font-size: 14px;
	font-weight: bold;
	font-family: Arial;
	color: red;
}

.scheduled_tasks_div
{
	font-weight: bold;
	color: red;
}

ul > .tile
{
	background: #f0f0f1;
	cursor:pointer;
	cursor:hand;
	opacity:0.65;
	filter:alpha(opacity=65);
}

.tile
{
	background: #f0f0f1;
	cursor:pointer;
	cursor:hand;
}


.tiny_buttons_settings
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	overflow-x: hidden;
	overflow-y: hidden;
	height: 81px;
}

.disabled_tiny_button{
	background-image: url("../img/disabled_tiny_button.gif") !important;
	background-repeat: no-repeat !important;
	background-position: center, center !important;
}

.helpDiv{
	background: #f0f0f1;
	width : 215px;
	height : 100%;
	border : 1px solid #b3b3b7;
	border-radius: 10px; 
	padding: 5px;

	-moz-transition:margin 0.3s linear;	
	-o-transition:margin 0.3s linear;	
	-webkit-transition:margin 0.3s linear;	
	-ms-transition:margin 0.3s linear;	
	transition:margin 0.3s linear;	
}

.helpIframe{
	width : 100%;
	height : 95%;
}

.helpBody{
	background: #f0f0f1;
	overflow-y:auto;
	overflow-x:hidden;
	padding-bottom:20px;
}

.helpBody strong{
	font-weight: bold;
	color:#8C0000;
}

.helpBody h1{
	color:#8C0000;
	font-size:14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
}

.helpBody h2{
	color:#8C0000;
	font-size:13px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.helpBody h3{
	color:#8C0000;
	font-size:12px;
	font-style:italic;
	font-family: Arial, Helvetica, sans-serif;
}

.helpBody p{
	color:black;
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
}

.helpBody ul, ol{
	margin-left:0px;
	padding:0px;
	list-style-position:inside;
	color:black;
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
}

.helpBody li{
	margin-bottom:5px;
}

td.buy_addons{
}
td.buy_addons a, td.buy_addons span{
}
td.buy_addons_spacer{
	display: none;
}

.dashboardCell_scheduled
{
	background-color:#efefff;
}

.dashboardCell_scheduled_odd
{
	background-color:#eaeaff;
}

.dashboardCell_1day
{
	background-color:#efffef;
}

.dashboardCell_1day_odd
{
	background-color:#eaffea;
}

.dashboardCell_notscheduled
{
	background-color:#fff2f2;
}

.dashboardCell_notscheduled_odd
{
	background-color:#ffeded;
}

.dashboardCell_noalert
{
	background-color:white;
}

.dashboardCell_noalert_odd
{
	background-color:#f4f4f4;
}

.legendCell
{
	padding:5px;
	vertical-align:middle
}

.csLegend
{
	/*first width - for browsers, second - for ie6*/
	width:auto !important;
	width:500px;
	float:right;
	height:31px;
	padding-top:2px;
}

.username
{
	font-weight:bold;
	color:#8c0000;
}

.menu_body .single .ui-accordion-header-icon
{
	display: none;
}

.contentschedule tr td
{
	border:1px solid #cecece;
}

.theme-colored-back
{
	background-color: #f0f0f1;
}

.hints
{
	color:#777777;
}

.im_tile
{
	background: #f0f0f1;
	height:145px;
	width:170px;
}

.im_tile_header
{
	height:25px;
	width:100%;
	margin:10px 0px 0px 0px;
	cursor:default;
	text-align:center;
}

a > .im_tile_send
{
	height:70px;
	margin:0px;
	width:100%;
	opacity:0.65;
	filter:alpha(opacity=65);
}

.im_tile_send
{
	height:70px;
	margin:0px;
	width:100%;
}

a > .im_tile_preview
{
	margin:0px;
	height:40px;
	width:33%;
	float:left;
	vertical-align:middle;
	opacity:0.65;
	filter:alpha(opacity=65);
}

.im_tile_preview
{
	margin:0px;
	height:40px;
	width:50%;
	float:left;
	vertical-align:middle;
}

a > .im_tile_delete
{
	margin:0px;
	height:40px;
	width:33%;
	float:left;
	vertical-align:middle;
	opacity:0.65;
	filter:alpha(opacity=65);
}

.im_tile_delete
{
	margin:0px;
	height:40px;
	width:50%;
	float:left;
	vertical-align:middle;
}

ul > .tile_hovered
{
	background: #FFE3E3;
	opacity:1.0;
	filter:alpha(opacity=100);
}

li > .tile_hovered
{
	background: #FFE3E3;
	opacity:1.0;
	filter:alpha(opacity=100);
}

a > .tile_hovered
{
	background: #FFE3E3;
	opacity:1.0;
	filter:alpha(opacity=100);
}

.tile_hovered
{
	background: #FFE3E3;
}

#main_frame {
    min-width: 1000px;
}