{Header}
<style>
.body {
	height : 100%;
	border-spacing: 0px;
	border-collapse:collapse;
}

html, body {
	border: 0px;
	overflow: none;
	height : 100%;
	padding:0px;
	margin:0px;
}

#RSS_name, #rss_feed {width: 350px;}

#main_content_cell
{
	padding:10px;
	height: 100%;
}

.ui-tabs-panel {
    overflow-y: auto;
    overflow-x: hidden;
}

.mceIframeContainer{
	height:100%
}

.date_time_param_input{
	width:150px
}

fieldset {
   margin: 10px;
   border: solid 1px black;
   position: relative;
   padding: .5em;
}

.legend {
   left: 0.5em;
   top: -0.6em;
   color: black;
   position: absolute;
   background-color: white;
   padding: 0 0.25em 0 0.25em;
}

</style>
<link href="css/form_style.css" rel="stylesheet" type="text/css"/>
<!--[if IE]>
<style type="text/css" media="all">
@import "css/ie.css";
</style>
<![endif]-->
<script language="javascript" type="text/javascript" src="jscripts/shortcut.js"></script>
<script language="javascript" type="text/javascript">

function check_value()
{
	var al_width = document.getElementById('al_width').value;
	var al_height = document.getElementById('al_height').value;
	var size_message = document.getElementById('size_message');
	
	if(al_width > 1024 && al_height > 600){
		size_message.innerHTML = '<font color="red">{LNG_RESOLUTION_DESC1}</font>';
		return;
	}

	if(al_width < 150 || al_height < 150){
		size_message.innerHTML = "<font color='red'>{LNG_RESOLUTION_DESC2}. <A href='#' onclick='set_default_size();'>{LNG_CLICK_HERE}</a> {LNG_RESOLUTION_DESC3}.</font>";
		return;
	}
	size_message.innerHTML = "";
}

function set_default_size()
{
	var al_width = document.getElementById('al_width');
	if(al_width) al_width.value = 150;
	var al_height = document.getElementById('al_height');
	if(al_height) al_height.value = 150;
}

function check_size_input(myfield, e, dec)
{
	var key;
	var keychar;

	if (window.event)
		key = window.event.keyCode;
	else if (e)
		key = e.which;
	else
		return true;

	keychar = String.fromCharCode(key);

	// control keys
	if ((key==null) || (key==0) || (key==8) || 
		(key==9) || (key==13) || (key==27) )
	{
			return true;
	}
	// numbers
	else if(myfield.value.length>6)
	{
		return false;
	}
	else if ((("0123456789").indexOf(keychar) > -1))
	{
		 return true;
	}
	// decimal point jump
	else if (dec && (keychar == "."))
	{
		myfield.form.elements[dec].focus();
		return false;
	}
	else
		return false;
}

function check_size()
{
	var elem = document.getElementById('ticker1');
	if(elem)
	{
	
		toggleDisable(elem, '#size_div');
		toggleDisable(elem, '#size_message');
		//toggleDisable(elem, '#atc');
		

    }

   //  if(document.getElementById('ticker2'))
     //    toggleDisable(elem, '#atc');
    
	check_message();
}

function toggleAllowContent() {
    var tickerContentCheckBox = $("#allow_ticker_content");
    var isDisabled = tickerContentCheckBox.attr('disabled') == "disabled";
    if (isDisabled) {
        tickerContentCheckBox.removeAttr("disabled");
        $(tickerContentCheckBox).val(1);
    }
    else {
        tickerContentCheckBox.attr("disabled", true);
        $(tickerContentCheckBox).val(0);
    }
}

function check_message()
{
	var elem = document.getElementById('size2');
	var al_width = document.getElementById('al_width');
	var al_height = document.getElementById('al_height');
	if(elem)
	{
		var disabled = elem.checked;
		if(disabled)
		{
			document.getElementById("size_message").style.display="none";
			al_width.disabled = true;
			al_height.disabled = true;
		}
		else
		{
			document.getElementById("size_message").style.display="";
			al_width.disabled = false;
			al_height.disabled = false;
		}
	}
}
function check_message_ticker2() {
    var elem = document.getElementById('ticker2');
    var al_width = document.getElementById('al_width');
    var al_height = document.getElementById('al_height');
    if (elem) {
        var disabled = elem.checked;
        if (disabled) {
            document.getElementById("size_message").style.display = "none";
            al_width.disabled = true;
            al_height.disabled = true;
        }
        else {
            document.getElementById("size_message").style.display = "";
            al_width.disabled = false;
            al_height.disabled = false;
        }
    }
}

function checkMessagingChannelsSettings(action, checkbox, responseDiv) {
    $.get("get_asp_config.asp", { "action":  action}, function (data) {
        var SMTPSetting = JSON.parse(data);
        var error = "";

        for (var key in SMTPSetting) {
            if (SMTPSetting[key] == "") {
                error += key + ", ";
            }
        }

        error = error.substring(0, error.length - 2);

        if (error != "") {
            $(responseDiv).append("<div style='color: red;'>Please fill this fields (" + error + ") in settings.</div>");
            $(checkbox).prop("checked", false);
            $(checkbox).attr("disabled", "");
        }
    });
}

function check_email(Click) {
	var elem = document.getElementById('emailCheck');
	if(elem) {
	    toggleDisable(elem, '#email_div');
	}

	if (Click) {
	    checkMessagingChannelsSettings("GetSMTPSettings", "#emailCheck", "#email_div");
	}
}

function check_sms(Click) {
    if (Click) {
        checkMessagingChannelsSettings("GetSMSSettings", "#sms", "#RSSSMS");
    }
}

function check_desktop()
{
	var elem = document.getElementById('desktop_check');
	if(elem)
	{
		toggleDisable(elem, '#ticker_div');
	}
	check_size();
}

function check_aknown()
{
	var elem = document.getElementById('aknown');
	if(elem)
	{
		var disabled = !elem.checked;
		if(disabled)
		{
			document.getElementById("aut_close").disabled=false;
			document.getElementById("autoclose").disabled=false;
		}
		else
		{
			document.getElementById("aut_close").disabled=true;
			document.getElementById("aut_close").checked=false;
			document.getElementById("autoclose").disabled=true;
			
		}
	}
	if(document.getElementById('aut_close').checked==true){
//		document.getElementById('man_close_div').style.display="";
		document.getElementById("autoclose").disabled=false;
		document.getElementById("man_close").disabled=false;
	}
	else{
//		document.getElementById('man_close_div').style.display="none";	
		document.getElementById("man_close").disabled=true;
		document.getElementById("man_close").checked=false;		
		document.getElementById("autoclose").disabled=true;
	}
}

function isPositiveInteger(n) {
    return (/^\d+$/.test(n+''));
}

function saveRSS()
{
    var fromDate = $.trim($("#start_date_and_time").val());
    var toDate = $.trim($("#end_date_and_time").val());

    if ($("#start_and_end_date_and_time_checkbox").is(':checked'))
    {
        if (!isDate(fromDate,uiFormat))
        {
            showPrompt("{FromDateNotValidStr}");
            return;
        }
        else
        {
            if (fromDate!="")
            {
                fromDate = new Date(getDateFromFormat(fromDate,uiFormat));
                $("#from_date").val(formatDate(fromDate,saveDbFormat));
            }
        }
		
        if (!isDate(toDate,uiFormat))
        {
            showPrompt("{ToDateNotValidStr}");
            return;
        }
        else
        {
            if (toDate!="")
            {
                toDate = new Date(getDateFromFormat(toDate,uiFormat))
                $("#to_date").val(formatDate(toDate,saveDbFormat));
            }
        }
        if (fromDate < serverDate && toDate < serverDate)
        {
            showPrompt("{DateInThePastError}");
            return;
        }
        if (fromDate >= toDate)
        {
            showPrompt("{ToDateEarlyError}");
            return;
        }

    }

    var desktop = document.getElementById("desktop_check");
    var email_check = document.getElementById("emailCheck");
    var rss = document.getElementById("rss");

    if((email_check || rss) && !(desktop.checked || (email_check && email_check.checked) || (rss && rss.checked)))
    {
        alert("{LNG_YOU_SHOULD_SELECT_RSS_TYPE}.");
        return;
    }

    if(document.getElementById('aut_close').checked == true)
    {
        if(document.getElementById("autoclose").value == "0")
        {
            alert("{LNG_EDIT_ALERT_DB_ALERT1}.");
            return false;
        }
        if(document.getElementById("autoclose").value.length < 1)
        {
            alert("{LNG_EDIT_ALERT_DB_ALERT1}.");
            return false;
        }
    }

    if ($("#title").val() == "")
    {
        alert("Please fill Title field.");
        return false;
    }

    $.get("rss_edit.asp", {"action":"checkRSSLink", "RSS":$("#rss_feed").val()})
        .fail(function (xhr, status, error)
        {
            alert("Your RSS link is invalid!");
        })
        .done(function ()
        {
            $("#save_RSS_form").submit();
        });
}


function toggleDisable(checkbox,selector) {
	if (!$(checkbox).is(':checked')) {
		$(selector + ' :input').prop('disabled', true);
	} else {
		$(selector + ' :input').removeProp('disabled');
	}
}

function getRssContent(url)
{
	var result;
	var dataString = "url=" +encodeURIComponent(url);
	$.ajax({
		type: 'POST',
		url: 'rss_get_data.asp',
		data: dataString,
		success: function(data) {
			result = JSON.parse(data);
		},
		async: false
	});
	return result;
}


function showAlertPreview() {

    var rssContent = getRssContent($("#rss_feed").val());
	var data = new Object();
	
	data.create_date = formatDate(new Date(), uiFormat);

	var fullscreen = ($("#size2").prop("checked")) ? true : false;
	var ticker = ($("#ticker2").prop("checked")) ? 1 : 0;
	var acknowledgement = 0; 
	
	var alert_width = fullscreen && !ticker ? $(".main_cell").width() : (!ticker ? $("#al_width").val() : $(".main_cell").width());
	var alert_height = fullscreen && !ticker ? $(".main_cell").height() : (!ticker ? $("#al_height").val() : "");
	
	var top_template;
	var bottom_template;
	var templateId = $("#template").val();
	
	getTemplateHTML(templateId,"top",false,function(data){ 
		top_template = data;
	});
	
	getTemplateHTML(templateId,"bottom",false,function(data){ 
		bottom_template = data;
	});
			
	data.top_template = top_template;
	data.bottom_template = bottom_template;
	data.alert_width = alert_width;
	data.alert_height = alert_height;
	data.ticker = ticker;
	data.fullscreen = fullscreen;
	data.acknowledgement = acknowledgement;
	data.alert_title = rssContent.title;
	data.alert_html = rssContent.body;
	
	initAlertPreview(data);
	
	return false;
}

function check_lifetime()
{
    var enabled = document.getElementById('lifetimemode').checked;
    document.getElementById('start_and_end_date_and_time_checkbox').checked = !enabled;
    toggleDisable(document.getElementById('start_and_end_date_and_time_checkbox'), "#start_and_end_date_and_time_div");
	document.getElementById('lifetime').disabled = !enabled;
	document.getElementById('lifetime_factor').disabled = !enabled;
}

$(function () {
	shortcut.add("right",function(e) {
		e.preventDefault();
		saveRSS();
	});
	
	shortcut.add("Alt+P",function(e) {
		e.preventDefault();
		showAlertPreview();
	});

    $(document).tooltip({
        items: "img[title],a[title]",
        position: {
            my: "center bottom-20",
            at: "center top",
            using: function (position, feedback) {
                $(this).css(position);
                $("<div>")
               .addClass("arrow")
               .addClass(feedback.vertical)
               .addClass(feedback.horizontal)
               .appendTo(this);
            }
        }
    });


	$(".main_table_title").prepend("<img src='images/menu_icons/rss_20.png' alt='' width='20' height='20' border='0' style='padding-left:7px'>")
	var fromDate = $.trim($("#start_date_and_time").val());
	var toDate = $.trim($("#end_date_and_time").val());

	if (fromDate!="" && isDate(fromDate,responseDbFormat))
	{
		$("#start_date_and_time").val(formatDate(new Date(getDateFromFormat(fromDate,responseDbFormat)),uiFormat));
	}
	
	if (toDate!="" && isDate(toDate,responseDbFormat))
	{
		$("#end_date_and_time").val(formatDate(new Date(getDateFromFormat(toDate,responseDbFormat)),uiFormat));
	}
	

	fromDate = "{saveFromDate}" ? new Date(getDateFromFormat("{saveFromDate}",saveDbFormat)) : null;
	toDate = "{saveToDate}" ? new Date(getDateFromFormat("{saveToDate}",saveDbFormat)) : null;
	
	
	if (fromDate)
	{
		$("#start_date_and_time").val(formatDate(fromDate,uiFormat));
	}
	if (toDate)
	{
		$("#end_date_and_time").val(formatDate(toDate,uiFormat));
	}


	$("#save_and_next_button").button().click(function(){
		saveRSS();
	});
	
	$("#preview_button").button().click(function(){
		showAlertPreview();
	});

	initDateTimePicker($(".date_time_param_input"),settingsDateFormat,settingsTimeFormat);
	
    $("#start_and_end_date_and_time_checkbox").change(function () {

        var isChecked = $(this).prop('checked');
        $("#lifetimemode").prop('checked', !isChecked);
        check_lifetime();

		toggleDisable(this,"#start_and_end_date_and_time_div");
	}).change();
	check_email();
	check_desktop();
	$("#RSS_tabs").tabs();
});
</script>
	<form method="POST" action="{sFileName}" style="padding:0px; margin:0px; border:0px" name="save_RSS_form" id="save_RSS_form">
		<input name="save" type="hidden" value="1"/>
		<input name="from_date" id="from_date" type="hidden"/>
		<input name="to_date" id="to_date" type="hidden"/>
		<input name="shouldApprove" id="shouldApprove" type="hidden" value="{shouldApprove}" />
		<input name="rejectedEdit" id="rejectedEdit" type="hidden" value="{rejectedEdit}" />
		<input name="edit" id="edit" type="hidden" value="{edit}" />
		<input name="id" id="id" type="hidden" value="{alert_id}" />
		<table style="width:100%; border-collapse:collapse; border:0px; margin:0px; padding:0px;">
			<tr style="height:22px">
				<td class="screensaver_name_td" style="text-align:left; padding: 0px;">
				    <div style="padding:2px 0px"><label for="campaign_select">{Campaign}</label> 
				    {CampaignSelector}	
				     </div>
					<div style="padding:2px 0px">{LNG_STEP} <strong>1</strong> {LNG_OF}&nbsp;2 : <strong>{LNG_ADD_RSS}:</strong></div><br />
				</td>
			</tr>
			<tr style="">
				<td class="tabs_container" style="text-align:left; vertical-align:top; padding:0px">
					<div id="RSS_tabs" >
						<ul>
							<li><a href="#content_tab">{ContentsStr}</a></li>
						</ul>
						<div id="content_tab" style="padding:0px; margin:10px; ">
							<table style="border-collapse:collapse; border:0px; margin:0px; padding:0px;">
							<tr>
								<td width="650" valign="top">
									<table style="border-collapse:collapse; border:0px; margin:0px; padding:0px;">
									<tr>
										<td><label for="title">{LNG_TITLE}:</label></td>
										<td><input type="text" name="title" id="title" value="{title}"/></td>
									</tr>
									<tr>
										<td><label for="rss_feed">{LNG_RSS_FEED}:</label></td>
										<td><input type="text" name="rss_feed" id="rss_feed" value="{feed}"/>
											<img src="images/help.png" title="{LNG_RSS_FEED_TITLE}."/>
										</td>
									</tr>
									<tr>
										<td></td>
										<td>
											<div style="color:red">{errMsg}</div>
										</td>
									</tr>
									</table>

									<div style="padding-top:30px">
										<input type="checkbox" id="lifetimemode" name="lifetimemode" value="1" onclick="check_lifetime();"{lifetimemode}> <label for="lifetimemode">{LNG_LIFETIME_IN}</label> {lifetime_control}&nbsp;{LNG_RSS_TIME_EXPIRED_CANT_RECEIVED}&nbsp;<img src="images/help.png" title="{LNG_LIFETIME_EXT_DESC}" />
									</div>
									<div style="padding-top:2px">
										<input type="checkbox" id="aut_close" name="aut_close" value="1" onclick="check_aknown()"{aut_close}/> <label for="aut_close">{LNG_AUTOCLOSE_IN}</label> <input type="text" size="3" name="autoclose" id="autoclose" onkeypress="return check_size_input(this, event);" value="{autoclose}"{autoclose_dis}/> {LNG_MINUTES} <img src="images/help.png" title="{LNG_AUTOCLOSE_TITLE}."/> <span id="man_close_div"><input type="checkbox" id="man_close" name="man_close" value="1"{man_close}/> <label for="man_close">{LNG_ALLOW_MANUAL_CLOSE}</label> <img src="images/help.png" title="{LNG_ALLOW_MANUAL_CLOSE_DESC}."/> </span>
									</div>

									<div style="padding-top:30px">
										<input id="start_and_end_date_and_time_checkbox" name="schedule" value="1" type="checkbox" {start_and_end_date_and_time_checked}/>&nbsp;<label for="start_and_end_date_and_time_checkbox">{StartAndEndDateAndTimeStr}</label>&nbsp;<img src="images/help.png" title="{LNG_SCHEDULE_EXT_DESC}" />
										<div id="start_and_end_date_and_time_div" style="padding-top:5px">
											<table style="width:300px height:100px; border-collapse:collapse; border:0px; margin:0px; padding:0px; ">
												<tr>
													<td style="text-align:right">
														<label for="start_date_and_time">{StartDateAndTimeStr}:</label>
													</td>
													<td>
														<input id="start_date_and_time" class="date_time_param_input" name="start_date_and_time" type="text" value="{fromDate}"></input>
													</td>
												</tr>
												<tr>
													<td>
														<label for="end_date_and_time">{EndDateAndTimeStr}:</label>
													</td>
													<td>
														<input id="end_date_and_time" class="date_time_param_input" name="end_date_and_time" type="text" value="{toDate}"></input>
													</td>
												</tr>
											</table>
										</div>
									</div>
									<!--BeginTemplatesSelect-->
									<div style="padding-top:70px;display:none">
										<label for="template">{LNG_SELECT_TEMPLATE}: </label>
										<select id="template" name="template" width="40" style="width:150px">
										<!--BeginTemplatesList-->
											<option value="{template_id}"{template_selected}>{template_name}</option>
										<!--EndTemplatesList-->
										</select>
									</div>
									<!--EndTemplatesSelect-->
								</td>
								<td valign="top" width="260px" style="padding-top:40px">
								<table>
								<!--BeginSmsBlock-->
									<tr>
										<td>
											<div id="RSSSMS">
                                                <input type="checkbox" id="sms" name="sms" value="1" onclick="check_sms(true);" {smschecked} /> <label for="sms">{LNG_RSS_TO_SMS}</label>
											</div>
										</td>
									</tr>
								<!--EndSmsBlock-->
								<!--BeginSmsDemoBlock-->
									<tr>
										<td>
											<div>
												<input type='checkbox' id='sms' name='sms' value='' disabled title="Demo version is not configured to send rss."/><label for="sms" title="Demo version is not configured to send rss."> {LNG_RSS_TO_SMS}</label><br/>
											</div>
										</td>
									</tr>
								<!--EndSmsDemoBlock-->
								<!--BeginEmailBlock-->
									<tr>
										<td>
											<div>
												<input type="checkbox" name="email" id="emailCheck" value="1" onclick="check_email(true);"{emailChecked}/> <label for="emailCheck">{LNG_RSS_TO_ENAIL}</label>
											</div>
											<div id="email_div" style="padding:0px"></div>
										</td>
									</tr>
								<!--EndEmailBlock-->
								<!--BeginDesktopBlock-->
									<tr>
										<td>
											<div>
												<input type="checkbox" id="desktop_check" name="desktop"{desktopChecked} value="1" onclick="check_desktop();"/> <label for="desktop_check">{LNG_RSS_TO_DESKTOPS}</label>
											</div>
											
                                            <div id="atc">
                                                <input type='{allowTickerContentType}' id='allow_ticker_content' name='allow_ticker_content'  {allowTickerContentEnabled} {allowTickerContentChecked} value='{allowTickerContentValue}'/> 
                                                <label for='allow_ticker_content'> {LNG_RSS_ALLOW_TICKER_CONTENT}</label>
                                            </div>

										</td>
									</tr>
								<!--EndDesktopBlock-->
									<tr>
										<td>
											<div id="ticker_div">
												<div id="size_message"></div>
												<table border="0" cellspacing=0 cellpadding=0>
													<tr>
														<td valign="top" style="width: 110px; padding:5px 5px 5px 0px">
															<fieldset class="reccurence_pattern" style="height:105px; padding:0px; margin:0px">
																<legend style="left:10px">{LNG_DISPLAY_TYPE}</legend>
																<br/>
																<div style="padding-left:5px;">
																	<table border="0" cellpadding="1" cellspacing="1">
																	<tr><td valign="top">
																		<input type="radio" id="ticker1" name="ticker" value="0" {popupChecked} onclick="check_size();toggleAllowContent();"/>
																	</td><td valign="top">
																		<label for="ticker1">{LNG_POPUP}</label>
																	</td></tr>
																	<tr><td valign="top">
																		<input type="radio" id="ticker2" name="ticker" value="1" {tickerChecked} onclick="check_size(); check_message_ticker2(); toggleAllowContent();"/>
																	</td><td valign="top">
																		<label for="ticker2">{LNG_SCROLL_IN_TICKER}</label>
																	</td></tr>
																	</table>
																</div>
															</fieldset>
														</td>
														<td valign="top" style="padding:5px">
															<!--BeginSizeBlock-->
															<fieldset class="reccurence_pattern" style="height:105px; padding:0px; margin:0px; ">
																<legend style="left:10px">{LNG_SIZE}</legend>
																<div id="size_div" style="padding-left:10px;">
																	<table border="0">
																		<tr>
																			<td valign="middle"><input type="radio" id="size1" name="fullscreen" value="0" {allSizesDisabled} {sizedChecked} onclick="check_message()"></td>
																			<td valign="middle"><label for="size1">{LNG_WIDTH}:</label></td>
																			<td valign="middle"><input type="text" name="alert_width" id="al_width" {sizedDisabled} size="4" value="{alert_width}" onkeypress="return check_size_input(this, event);" onKeyUp="check_value(this)"></td>
																			<td valign="middle">{LNG_PX}</td>
																		</tr>
																		<tr>
																			<td>&nbsp;</td>
																			<td valign="middle"><label for="size1">{LNG_HEIGHT}:</label></td>
																			<td valign="middle"><input type="text" size="4" name="alert_height" {sizedDisabled} id="al_height" value="{alert_height}" onkeypress="return check_size_input(this, event);" onKeyUp="check_value(this)"></td>
																			<td valign="middle">{LNG_PX}</td>
																		</tr>
																		<tr>
																			<td valign="middle"><input type="radio" id="size2" name="fullscreen" value="1" {allSizesDisabled} {fullscreenChecked} onclick="check_message()"></td>
																			<td valign="middle" colspan="3"> <label for="size2">{LNG_FULLSCREEN}</label><br/></td>
																		</tr>
																	</table>
																</div>
															</fieldset>
															<!--EndSizeBlock-->
														</td>
													</tr>
												</table>
											</div>
										</td>
									</tr>
								</table>	
								</td>
							</tr>
							</table>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td class="RSS_name_td" style="text-align:right; vertical-align:top; padding: 0px; padding-top: 10px; ">
					<a title="Hotkey: Alt+P" id="preview_button">{PreviewStr}</a>
					<a title="Hotkey: →" id="save_and_next_button">{SaveAndNextStr}</a>
				</td>
			</tr>
		</table>
	</form>

{Footer}