{Header}
<script>

    window.parent.parent.document.getElementById('menu').src = window.parent.parent.document.getElementById('menu').src;
	function showAlertPreview(alertId)
	{
		var data = new Object();
		
		getAlertData(alertId,false,function(alertData){	
			data = JSON.parse(alertData);
		});

		var fullscreen = parseInt(data.fullscreen);
		var ticker = parseInt(data.ticker);
		var acknowledgement = data.acknowledgement; 
		
		var alert_width = fullscreen && !ticker ? $(".main_cell").width() : (!ticker ? data.alert_width : $(".main_cell").width());
		var alert_height = fullscreen && !ticker ? $(window).height() - document.body.clientHeight + $(".main_cell").height() : (!ticker ? data.alert_height : "");

		var alert_title = data.alert_title;
		var alert_html = data.alert_html;

		var top_template;
		var bottom_template;
		var templateId = data.template_id;
		
		if (templateId>=0)
		{
			getTemplateHTML(templateId,"top",false,function(data){ 
					top_template = data;
			});
			
			getTemplateHTML(templateId,"bottom",false,function(data){ 
				bottom_template = data;
			});
		}

		data.top_template = top_template;
		data.bottom_template = bottom_template;
		data.alert_width = alert_width;
		data.alert_height = alert_height;
		data.ticker = ticker;
		data.fullscreen = fullscreen;
		data.acknowledgement = acknowledgement;
		data.alert_title = alert_title;
		data.alert_html = alert_html;
		data.caption_href= data.caption_href;
		
		initAlertPreview(data);
		
	}
	$(document).ready(function() {	
		$(".main_table_title").prepend("<img src='images/menu_icons/rss_20.png' alt='' width='20' height='20' border='0' style='padding-left:7px'>")
		var width = $(".data_table").width();
		var pwidth = $(".paginate").width();
		if (width != pwidth) {
			$(".paginate").width("100%");
		}
	});
	$(function(){
		$("#RSS_add_button").button();
	})
</script>
<span class="work_header">{pageHeader}</span>
<table style="width:100%;margin-bottom:4px">
<tr>
	<td style="text-align: left">
	<!--
		| <a href="{RSSCurListLink}">{RSSCurListStr}</a>
		| <a href="{RSSDraftListLink}">{RSSDraftListStr}</a>
		| <a href="{RSSSentListLink}">{RSSSentStr}</a> |
	-->
	</td>
	<td style="text-align: right">
		<!--BeginRSSAddButton-->
		<a id="RSS_add_button" href="{RSSAddLink}">{RSSAddStr}</a>
		<!--EndRSSAddButton-->
	</td>
</tr>
</table>
{paging}
{StartDeleteForm}
<table style="width:100%; padding:3px; border-collapse: collapse;" class="data_table">
	<tr class="data_table_title">
		<td width="10px"><input type='checkbox' name='select_all' id='select_all' onclick='select_all_objects();'></td>
		<td class="table_title">{RSSNameStr}</td>
		{RSS_Status_Str}
		<td class="table_title">{RSSCreationDateStr}</td>
		<td class="table_title">{RSSScheduledStr}</td>
		<td class="table_title">{RSSSenderStr}</td>
		<td class="table_title" width="120">{RSSActionStr}</td>
	</tr>
	<!--BeginDListRSS-->
	<tr style="text-align:center">
		<td style="width:10px">
			<input type="checkbox" name="objects" value="{RSSId}">
		</td>
		<td>
		{RSSName}
		</td>
		{RSS_Status}
		<td>
		<script language="javascript">document.write(getUiDateTime('{RSSCreationDate}'))</script>
		</td>
		<td>
		{RSSScheduled}
		</td>
		<td>
		{RSSSender}
		</td>
		<td nowrap="nowrap">
		{RSSActions}
		</td>
	</tr>
	<!--EndDListRSS-->
</table>
{EndDeleteForm}
{paging}
<br><br>
{Footer}
