<table style="margin:0px; padding:0px; border-collapse: collapse; border:0px">
    <tr style="margin:0px; padding:0px; border:0px">
        <td style="margin:0px; padding:0px; border:0px; text-align:right">
            <a href="{url}" target="_blank">{more}</a>
        </td>
    </tr>
<tr style="margin:0px; padding:0px; border:0px">
	<td style="margin:0px; padding:0px; border:0px">
		{description}
	</td>
</tr>
<tr style="margin:0px; padding:0px; border:0px">
	<td style="margin:0px; padding:0px; border:0px; text-align:right">
		<a href="{url}" target="_blank">{more}</a>
	</td>
</tr>
</table>