﻿.iframe_dlg .panel_wrapper div.current {height:150px;}
.iframe_dlg #url {width:170px; vertical-align:middle;}
.iframe_dlg #name {width:150px; vertical-align:middle;}
.iframe_dlg #width {width:50px; vertical-align:middle;}
.iframe_dlg #width2 {width:46px; vertical-align:middle;}
.iframe_dlg #height {width:50px; vertical-align:middle;}
.iframe_dlg #height2 {width:46px; vertical-align:middle;}
.iframe_dlg #scroll {width:120px;}
.iframe_dlg #border {width:120px;}
.mceIframeItem {border:1px dotted #cc0000; background-position:center; background-repeat:no-repeat; background-color:#ffffcc; background-image:url(../img/iframe.gif)}
