body, td, pre {color:#000; font-family:Arial, Times New Roman, Helvetica, sans-serif; font-size:14px; margin:0px}
h1 {font-size: 2em}
h2 {font-size: 1.5em}
h3 {font-size: 1.17em}
h4 {font-size: 1em}
h5 {font-size: .83em}
h6 {font-size: .75em}
p {margin:0 1em}
/*form {margin:1em}*/

a {
	color:gray;
}
body .td07{background:white }
body.opt {}
body.optcontent {overflow-y:hidden}
body.reg {}
body.regcontent {}
body.hist {}
body.histcontent {}
body.alert {}
body.alertcontent {padding-left:0px !important;padding-right:0px !important;}
body.ticker {background:URL('ticker_logo.gif') 0px 0px no-repeat #066c19;}
body.tickercontent {padding-top:0px !important; padding-bottom:1px !important; background:white; }

.ticker_separator {}
.ticker_image {display:none!important}
.readitButton {}
body.alertcontent .readitButton {right:0px}

.contentTable {}
body.opt .contentTable {}
body.reg .contentTable {}
body.hist .contentTable {}
body.alert .contentTable {}

body .logo{display:block; position:absolute; top:17px; left:17px; height:68px!important}
body .img03f{display:none }
body .img03{display:none }
body .img06{display:none }
body .img08{display:none }
body .img11f{display:none; margin-left:auto;margin-right:auto;}
body .img11s{display:none }
body .img11{display:none }
body .td03{background:URL('img_03.gif') /* text-align:right;*/}
body .td06{background:URL('img_06.gif') }
body .td08{background:URL('img_08.gif') }
body .td11{background:URL('img_11.gif'); text-align:center}


.contentDiv1 {}
.contentDiv2 {}
.contentDiv3 {}
.contentDiv4 {}

body.hist .contentDiv1 {background: url(search_input_bg.gif) no-repeat; height:29px; width:214px; right:105px;top:90px; z-index:151}

.borderDiv {}

.titleTable {top:95px}
.alerttitle {font:bold 21px Arial;color:#000000}
.alertcreate {display:block;font:13px Arial;color:#7b7a7a}
.alerttitle_td {padding-left:20px;padding-top:3px;}
.alertcreate_td {padding-right:20px;}
.beforetitle_td {display:none}
.aftertitle_td {display:none}
.top_template_td {padding-left:20px; padding-right:20px;}
.top_template {}
/*.bottom_template_table{bottom:10px;} */
.bottom_template_td {padding-left:20px; padding-right:20px;}
.bottom_template {}

.caption {display:none;right:30px;top:9px;font-family:Arial;font-size:12px;font-weight:bold;color:#7b7a7a;}

body.reg .caption {left:10px;top:70px;font-family:Arial;font-size:12px;font-weight:bold;color:#BDBDBD;}

.close_img {right:14px;top:15px;}
body.ticker .close_img {top:25%;right:4px;}

.clear_img {left:17px;top:90px;font-family:verdana;color:#000000;font-size:11px;}
.clear_but {display:none}
.searchinput { right:115px;top:96px;border:0px solid #555555;width:170px; font-family:verdana;vertical-align:middle;font-size:11px; height:15px; display: block; background:transparent; outline:none; }
.searchinput_normal {font-style:italic;color:#555555;}
.searchinput_focused {font-style:normal;color:black;}
.search_img {right:17px;top:90px;font-family:Verdana;color:#000000;font-size:11px;}
.search_but {display:none}

.feedback_header { top: 90px; left:20px; color: #000; font-style: italic; border:0px solid #555555;width:auto; font-family:verdana;vertical-align:middle;font-size:11px; height:13px; display: block; background:transparent; outline:none; }

tr .hoveredRow {background-color:#CAE3BB;}
.unreadRow {background-color:#e0e0e0; font-weight:bold}
.topic_row .topic {width:55%}
.topic_row .date {width:45%;text-align:right}
.topic_row .icon {width:20px; height:20px; background-image:URL('history_icons.gif');}
.topic_row .icon.alert {background-position: 0px 0px}
.topic_row .icon.alert_urgent {background-position: -20px 0px}
.topic_row .icon.screensaver {background-position: -60px 0px}
.topic_row .icon.wallpaper {background-position: -40px 0px}
.topic_row .icon.alert_rss {background-position: -80px 0px}
.topic_row .icon.alert_fullscreen {background-position: -100px 0px}
.topic_row .icon.alert_fullscreen_urgent {background-position: -120px 0px}
.topic_row .icon.alert_survey {background-position: -140px 0px}
.topic_row .icon.alert_quiz {background-position: -160px 0px}
.topic_row .icon.alert_poll {background-position: -180px 0px}
.topic_row .icon.alert_rsvp {background-position: -200px 0px}
.topic_row .icon.alert_rsvp_urgent  {background-position: -220px 0px}
.topic_row .icon.alert_ticker  {background-position: -240px 0px}
.topic_row .icon.alert_ticker_urgent  {background-position: -260px 0px}


tr .hoveredRow .icon.alert {background-position: 0px -20px}
tr .hoveredRow .icon.alert_urgent {background-position: -20px -20px}
tr .hoveredRow .icon.screensaver {background-position: -60px -20px}
tr .hoveredRow .icon.wallpaper {background-position: -40px -20px}
tr .hoveredRow .icon.alert_rss {background-position: -80px -20px}
tr .hoveredRow .icon.alert_fullscreen {background-position: -100px -20px}
tr .hoveredRow .icon.alert_fullscreen_urgent {background-position: -120px -20px}
tr .hoveredRow .icon.alert_survey {background-position: -140px -20px}
tr .hoveredRow .icon.alert_quiz {background-position: -160px -20px}
tr .hoveredRow .icon.alert_poll {background-position: -180px -20px}
tr .hoveredRow .icon.alert_rsvp {background-position: -200px -20px}
tr .hoveredRow .icon.alert_rsvp_urgent  {background-position: -220px -20px}
tr .hoveredRow .icon.alert_ticker  {background-position: -240px -20px}
tr .hoveredRow .icon.alert_ticker_urgent  {background-position: -260px -20px}

.unreadRow .icon.alert {background-position: 0px -40px}
.unreadRow .icon.alert_urgent {background-position: -20px -40px}
.unreadRow .icon.screensaver {background-position: -60px -40px}
.unreadRow .icon.wallpaper {background-position: -40px -40px}
.unreadRow .icon.alert_rss {background-position: -80px -40px}
.unreadRow .icon.alert_fullscreen {background-position: -100px -40px}
.unreadRow .icon.alert_fullscreen_urgent {background-position: -120px -40px}
.unreadRow .icon.alert_survey {background-position: -140px -40px}
.unreadRow .icon.alert_quiz {background-position: -160px -40px}
.unreadRow .icon.alert_poll {background-position: -180px -40px}
.unreadRow .icon.alert_rsvp {background-position: -200px -40px}
.unreadRow .icon.alert_rsvp_urgent  {background-position: -220px -40px}
.unreadRow .icon.alert_ticker  {background-position: -240px -40px}
.unreadRow .icon.alert_ticker_urgent  {background-position: -260px -40px}


.save_button {display:none}
.cancel_button {display:none}
.apply_button {display:none}
.next_button {display:none}
.previous_button {display:none}
.postpone_button {display:none}
.print_button {display:none}
.cancel_img {}
.save_img {}
.next_img {font-family:Verdana;color:#000000;font-size:11px;vertical-align:middle; cursor:pointer;}
.previous_img {font-family:Verdana;color:#000000;font-size:11px;vertical-align:middle; cursor:pointer;}
.postpone_img {font-family:Verdana;color:#000000;font-size:11px;vertical-align:middle; cursor:pointer;}
.page_input {border:1px solid #555555;width:30px;font-family:verdana;vertical-align:middle;font-size:13px;height:24px;}
.hist_cell{font-family:Verdana;color:#000000;font-size:12px;}

.close_img_ticker{width:14px; height:14px; position:absolute; top:10px; right:3px; background: url(close_ticker.gif) center center no-repeat; cursor:pointer;}
.resize_icon {width:12px; height:12px; background:url(resize_icon.gif); position:absolute; bottom:0px; right:0px; z-index: 200; cursor:se-resize; font-size:1px}

.ticker_title{margin:0px !important; padding:0px !important; font-family:Arial, Times New Roman, Helvetica, sans-serif;font-size:21px;}
.ticker_title_container{border-width:0px !important; height:10px !important; border-color:black !important; border-style:solid !important; padding-bottom: 0px !important;  padding-right: 1px !important; padding-left: 1px !important; margin-bottom:5px !important;}
.ticker_box{margin-top:1px !important;}
.ticker_after_title_td{width:3px !important;}
.DeskAlertsSearch{border-collapse: collapse !important; text-indent:0px !important; padding:0px !important; margin:0px !important; background-color:blue; }
