@font-face {
    font-family: 'Neo Tech Alt';
    src: url('NeoTechRegular.eot');
    src: url('NeoTechRegular.eot?#iefix') format('embedded-opentype'),
         url('NeoTechRegular.woff2') format('woff2'),
         url('NeoTechRegular.woff') format('woff'),
         url('NeoTechRegular.ttf')  format('truetype');