{Header}
<style>
#wallpaper_img
{ 
	max-width:400px;
	max-height:400px;
	width: expression(this.offsetWidth < 400 ? "auto" : 400); 
	height: expression(this.offsetHeight < 400 ? "auto" : 400); 
}

.body {
	border-spacing: 0px;
	border-collapse:collapse;
}

html, body {
	border: 0px;
	overflow: auto;
	padding:0px;
	margin:0px;
}

#main_content_cell
{
	padding:10px;
}


</style>
<!--[if IE 8 ]> 
	<style>
	#wallpaper_img
	{
		width:400px;
	}
	</style>
<![endif]-->
<script language="javascript" type="text/javascript" src="jscripts/jquery.hotkeys.js"></script>
<script language="javascript" type="text/javascript">



function isPositiveInteger(n) {
    return (/^\d+$/.test(n+''));
}

function showPrompt(text)
{
	$("#dialog-modal > p").text(text)
	$("#dialog-modal").dialog({
		height: 150,
		modal: true,
		resizable: false,
		buttons: {
			"{LNG_CLOSE}": function() {
				$(this).dialog("close");
			}
		}
	});
}

$(window)
    .bind('keydown',
        'Ctrl+o',
        function() {

            openFileBrowser();

        }
    );

$(window)
    .bind('keydown',
        'Alt+p',
        function () {

            showWallpaperPreview();

        }
    );

$(window)
    .bind('keydown',
        'right',
        function () {

            saveWallpaper();

        }
    );


function toggleDisable(checkbox,selector) {
	if (!$(checkbox).is(':checked')) {
		$(selector + ' :input').prop('disabled', true);
	} else {
		$(selector + ' :input').removeProp('disabled');
	}   
}


function saveWallpaper()
{
	var autoclose = $.trim($("#time_to_display").val());
	var fromDate = $.trim($("#start_date_and_time").val());
	var toDate = $.trim($("#end_date_and_time").val());
	var wallpaperSrc = $("#wallpaper_img").attr("src");
	var position = $("#wallpaper_position_select").val();

	if ($("#wallpaper_name").val()) {
		$("#title").val($("#wallpaper_name").val());
	}
	else {
		showPrompt("{SpecifyWallpaperNameStr}");
		return;
	}
	
	$("#campaign_id").val($("#campaign_select").val());
	
	
	//if ($("#time_to_display_checkbox").is(':checked'))
	//{
		if (!isPositiveInteger(autoclose))
		{
			showPrompt("{TimeToDisplayNotValidStr}");
			return;
		}
		else
		{
			$("#autoclose").val(autoclose);
		}
	//}
	if ($("#start_and_end_date_and_time_checkbox").is(':checked'))
	{
		if (!isDate(fromDate,uiFormat))
		{
			showPrompt("{FromDateNotValidStr}");
			return;
		}
		else
		{
			if (fromDate!="")
			{
				fromDate = new Date(getDateFromFormat(fromDate,uiFormat));
				$("#from_date").val(formatDate(fromDate,saveDbFormat));
			}
		}
		
		if (!isDate(toDate,uiFormat))
		{
			showPrompt("{ToDateNotValidStr}");
			return;
		}
		else
		{
			if (toDate!="")
			{
				toDate = new Date(getDateFromFormat(toDate,uiFormat))
				$("#to_date").val(formatDate(toDate,saveDbFormat));
			}
		}
		if (fromDate < serverDate && toDate < serverDate)
		{
			showPrompt("{m}");
			return;
		}
		if (fromDate >= toDate)
		{
			showPrompt("{ToDateEarlyError}");
			return;
		}

	}
	if (wallpaperSrc == "")
	{
		showPrompt("{ErrorWallpaperImageStr}");
		return;
	}
	$
	$("#wallpaper_src").val(wallpaperSrc);
	$("#wallpaper_position").val(position);
	$("#save_wallpaper_form").submit();
}

function openFileBrowser()
{
	var params  = 'width=350';
	params += ', height=400';
	params += ', top=0, left=0'
	params += ', fullscreen=no';

	//openDialogUI('uploadform.asp', 350, 400);
	window.open('uploadform.asp', 'preview_win', params);
}

function fileBrowserSetSrc(id, name, src)
{
	$("#wallpaper_img").attr("src",src);
	$("#wallapper_img_tr").hide();
	$("#wallapper_position_tr").hide();
	$("#wallapper_img_tr").fadeIn(500);
	$("#wallapper_position_tr").fadeIn(500);
}

function showWallpaperPreview()
{
	var imageSrc = $("#wallpaper_img").attr("src");
	var position = $("#wallpaper_position_select").val();
	$("#preview_image_src").val(imageSrc);
	$("#preview_position").val(position);

	var params  = 'width='+screen.width;
	params += ', height='+screen.height;
	params += ', top=0, left=0'
	params += ', fullscreen=no';

	//openDialogUI('', screen.width, screen.height);
	window.open('','preview_win', params);

	$("#preview_post_form").submit();
	hideLoader();
}


$(document).ready(function () {

    $(document).tooltip({
        items: "img[title],a[title]",
        position: {
            my: "center bottom-20",
            at: "center top",
            using: function (position, feedback) {
                $(this).css(position);
                $("<div>")
               .addClass("arrow")
               .addClass(feedback.vertical)
               .addClass(feedback.horizontal)
               .appendTo(this);
            }
        }
    });

	$(".main_table_title").prepend("<img src='images/menu_icons/wallpaper_20.png' alt='' width='20' height='20' border='0' style='padding-left:7px'>")
	var fromDate = $.trim($("#start_date_and_time").val());
	var toDate = $.trim($("#end_date_and_time").val());
	if (fromDate!="" && isDate(fromDate,responseDbFormat))
	{
		$("#start_date_and_time").val(formatDate(new Date(getDateFromFormat(fromDate,responseDbFormat)),uiFormat));
	}
	
	if (toDate!="" && isDate(toDate,responseDbFormat))
	{
		$("#end_date_and_time").val(formatDate(new Date(getDateFromFormat(toDate,responseDbFormat)),uiFormat));
	}

	$("#save_and_next_button").button().click(function(){
		saveWallpaper();
	});
	
	$("#preview_button").button().click(function(){
		showWallpaperPreview();
	});
	
	

	$("#choose_wallpaper_button").button().click(function(){
		openFileBrowser();
	});

	initDateTimePicker($(".date_time_param_input"),settingsDateFormat,settingsTimeFormat);
		
	$("#start_and_end_date_and_time_checkbox").change(function(){
		toggleDisable(this,"#start_and_end_date_and_time_div");
	}).change();

	
	$("#wallpaper_tabs").tabs();
	
	var cur_src = $("#wallpaper_src").val();
	if (cur_src){
		fileBrowserSetSrc($("#alert_id").val(),cur_src,cur_src)
	}
});
</script>
	<table style="width:100%; height:100%;  border-collapse:collapse; border:0px; margin:0px; padding:0px; ">
		<tr style="height:100px">
			<td class="wallpaper_name_td" style="text-align:left; padding: 0px;">

				<div style="padding:2px 0px">
                 {CampaignSelector}
                </div><br />
                       
                <div style="padding:2px 0px">
                {LNG_STEP} <strong>1</strong> {LNG_OF}&nbsp;2 : <strong>{LNG_ADD_WALLPAPER}:</strong>
                </div><br />

                <div style="padding:2px 0px">
                <label for="wallpaper_name">{WallpaperNameStr}:</label>
				<input type="text" name="wallpaper_name" id="wallpaper_name" value="{title}" />
				</div>

			</td>
		</tr>
		<tr style="">
			<td class="tabs_container" style="text-align:left; vertical-align:top; padding:0px">
			  <br />
				<div id="wallpaper_tabs" style="">
					<ul>
						<li><a href="#content_tab">{ContentsStr}</a></li>
						<li><a href="#options_tab">{OptionsStr}</a></li>
					</ul>
					<div id="content_tab" style="padding:0px; margin:10px;">
						<table style="border-collapse:collapse; border:0px; margin:0px; padding:0px; ">
							<tr id="wallapper_img_tr" style="display:{wallapper_img_tr_display}">
								<td style="vertical-align:top; text-align:right; font-weight:bold">
									{ImageFileStr}:
								</td>
								<td style="vertical-align:top; text-align:left; padding:0px 10px 0px 10px">
									<img src="{WallpaperImgSrc}" id="wallpaper_img"></img>
								</td>
								<td style="vertical-align:top; text-align:left; padding:0px 10px 0px 10px">
									<table style=" border-collapse:collapse; border:0px; margin:0px;  ">
										<tr>
											<td style="text-align:right; padding-right:10px; font-weight:bold">
												{DimensionsStr}:
											</td>
											<td id="dimensions_td">
											</td>
										</tr>
										<tr>
											<td style="text-align:right; padding-right:10px; font-weight:bold">
												{FileSizeStr}:
											</td>
											<td id="file_size_td">
											</td>
										</tr>
										<tr>
											<td style="text-align:right; padding-right:10px; font-weight:bold">
												{FileNameStr}:
											</td>
											<td id="file_name_td">
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr id="wallapper_position_tr" style="display:{wallapper_position_tr_display}; ">
								<td style="vertical-align:top; text-align:right; padding:10px 0px 0px 0px; font-weight:bold">
									{PositionStr}:
								</td>
								<td style="vertical-align:top; text-align:left; padding:10px 10px 0px 10px">
									<select id="wallpaper_position_select">
										<option value="1" {CenterPositionSelected}>{CenterStr}</option>
										<option value="2" {TilePositionSelected}>{TileStr}</option>
										<option value="3" {StretchPositionSelected}>{StretchStr}</option>
									<select>
								</td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td  style="vertical-align:top; text-align:right;padding-right:8px">
									<a style="white-space: nowrap" id="choose_wallpaper_button">{ChooseWallpaperStr}</a>
								</td>
								<td align=left style="padding: 2px; text-align:left">
									<img alt="helpIcon" src="{HelpImg}" title="{ChooseText}"/>
								</td>
							</tr>
						</table>
						
					</div>
					<div id="options_tab" style="padding:0px; margin:10px;">
						<div>
							<input id="time_to_display_checkbox" type="hidden" {time_to_display_checked}>{TimeToDisplayStr}:</input>&nbsp;
							<input id="time_to_display" type="text" style="width:30px" value="{time_to_display}"></input>&nbsp;
							<label>{SecondsStr}</label>
							<p style="color:#aaaaaa">
								{TimeToDisplayTitleStr}
							</p>
						</div>
						<div style="padding-top:10px">
							<input id="start_and_end_date_and_time_checkbox" name="start_and_end_date_and_time_checkbox" type="checkbox" {start_and_end_date_and_time_checked}></input><label for="start_and_end_date_and_time_checkbox">{StartAndEndDateAndTimeStr}</label>
							<div id="start_and_end_date_and_time_div" style="padding-top:5px">
								<table style="width:300px height:100px; border-collapse:collapse; border:0px; margin:0px; padding:0px; ">
									<tr>
										<td style="text-align:right">
											<label for="start_date_and_time">{StartDateAndTimeStr}:</label>
										</td>
										<td>
											<input id="start_date_and_time" class="date_time_param_input" name="start_date_and_time" type="text" value="{fromDate}"></input>
										</td>
									</tr>
									<tr>
										<td style="text-align:right">
											<label for="end_date_and_time">{EndDateAndTimeStr}:</label>
										</td>
										<td>
											<input id="end_date_and_time" class="date_time_param_input" name="end_date_and_time" type="text" value="{toDate}"></input>
										</td>
									</tr>
								</table>
								
							</div>
						</div>
					</div>
				</div>
			</td>
		</tr>
		<tr style="height:30px">
			<td class="wallpaper_name_td" style="text-align:right; padding: 0px; padding-top: 10px;">
				<a id="preview_button">{PreviewStr}</a>
				<a id="save_and_next_button" style="display: {strDisplaySaveNextButton}">{SaveAndNextStr}</a>
			</td>
		</tr>
	</table>
	<form method="POST" action="{sFileName}" style="width:0px; height:0px; padding:0px; margin:0px; border:0px" name="save_wallpaper_form" id="save_wallpaper_form">
		<input name="id" id="alert_id" type="hidden" value="{alertId}">
		<input name="title" id="title" type="hidden">
		<input name="edit" id="edit" value="{edit}" type="hidden">
		<input name="rejectedEdit" id="rejectedEdit" value="{rejectedEdit}" type="hidden"/>
	    <input name="shouldApprove" id="shouldApprove" value="{shouldApprove}" type="hidden"/>
		<input name="from_date" id="from_date" type="hidden">
		<input name="to_date" id="to_date" type="hidden">
		<input name="wallpaper_src" id="wallpaper_src" type="hidden">
		<input name="wallpaper_position" id="wallpaper_position" type="hidden">
		<input name="autoclose" id="autoclose" type="hidden">
		<input name="campaign_id" id="campaign_id" type="hidden">
	</form>
	<div id="dialog-modal" title="" style='display:none'>
		<p></p>
	</div>
	<form style="margin:0px; width:0px; height:0px; padding:0px" id="preview_post_form" action="wallpaper_preview.asp" method="post" target="preview_win">
		<input type="hidden" id="preview_image_src" name="image_src"  value=""/>
		<input type="hidden" id="preview_position" name="position"  value=""/>
	</form>
{Footer}