<span id="alert_control_buttons" style="padding:0px;margin:0px"></span>
<script type="text/javascript" language="JavaScript">
	$(function(){
		var $alert_control_buttons = $('#alert_control_buttons');
		var duplicate_url = "{duplicate_url}";
		//if(duplicate_url)
		//{
		//	var duplicateButton =  $("<a id='duplicate_button' style='margin-right:5px'>{LNG_DUPLICATE_RESEND}</a>").button().click(function()
		//	{
		//		//var win = window.opener;
		//		//if(win)
		//		//{
		//		//	win.document.location.href = duplicate_url;
		//		//	window.close();
		//		//}
		//		//else
		//		//{
		//		//    //"index.asp?url=" +
		//		//  // alert(encodeURIComponent(duplicate_url));
		//		//	window.open( encodeURIComponent(duplicate_url));
		//	    //}
		//	    //alert(duplicate_url);
		//	    window.parent.location = duplicate_url;
		//	});
		//	$alert_control_buttons.append(duplicateButton);
		//}
		//if({canStopStart})
		//{
		//	var stopStartButton = $("<a id='stopstart_button' style='margin-right:5px' title='{STOP_START_TITLE}'>{STOP_START_CAPTION}</a>").button().click(function(){
		//		document.location.href = 'change_schedule_type.asp?id={alert_id}&type={stop_start_type}&child={stop_start_with_child}&return_page=statistics_da_alerts_view_details.asp?id={alert_id}';
		//	});
		//	$alert_control_buttons.append(stopStartButton);
		//}
		//if({scheduled})
		//{
		//	var rescheduleButton =  $("<a id='reschedule_button' style='margin-right:5px' title='{LNG_RESCHEDULE_ALERT}'>{LNG_RESCHEDULE}</a>").button().click(function(){
		//		document.location.href = 'reschedule.asp?id={alert_id}&return_page=statistics_da_alerts_view_details.asp?id={alert_id}';
		//	});
		//	$alert_control_buttons.append(rescheduleButton);
		//}
	});
</script>