<script language="JavaScript">
	$(function(){	
		var fromDate = $.trim($("#from_date").val());
		var toDate = $.trim($("#to_date").val());

		if (fromDate!="" && isDate(fromDate,saveDbDateFormat))
		{
			fromDate = new Date(getDateFromFormat(fromDate,saveDbDateFormat));
		}
		else
		{
			fromDate = serverDate;
		}
		
		if (toDate!="" && isDate(toDate,saveDbDateFormat))
		{
			toDate = new Date(getDateFromFormat(toDate,saveDbDateFormat));
		}
		else
		{
			toDate = serverDate;
		}
	
		$("#from_date").datepicker("setDate",fromDate);
		$("#to_date").datepicker("setDate", toDate);

        $(".search_button").button();
	})
</script>
<form name="frmList" id="date_form" method="post">
<table cellpadding="0" cellspacing="0" border="0" width="98%">
<tr>
<td align="right">
<table cellpadding="2" cellspacing="2" border="0" >
	<tr>
	    <td colspan="5" style="text-align: left; padding-left: 5px">
            <table style="padding-left: 10px;" width="20%" border="0">
                <tbody>
                    <tr valign="middle">
                        <td width="175">
                            {SearchTitle} <input type="text" id="searchTermBox" runat="server" name="uname" value="" />
                        </td>
                        <td width="1%">
                            <br />
                            <!--  <a name="sub" class="search_button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button" aria-disabled="false"><span class="ui-button-icon-primary ui-icon ui-icon-search"></span><span class="ui-button-text">Search</span></a> -->
                            <a href="#" runat="server" onclick="javascript:submitDateForm();" class="search_button" id="searchButton" style="margin-right:0px" role="button" aria-disabled="false">{Search}</a>

                            <input type="hidden" name="search" value="1">
                        </td>
                    </tr>
            </table>
	    </td>
	</tr>
	<tr>
		<td nowrap colspan="4" align="left">
			<input type="radio" name="select_date_radio" value="1" {strCheckedOption1} onClick="javascript: my_disable(2);"/> 
			<select name="range" id="range" {strEnabledOption1} style="font-size: 9pt;">
			<option value="1" {strSelectedOption1} >{LNG_TODAY}</option>
			<option value="2" {strSelectedOption2}>{LNG_YESTERDAY}</option>
			<option value="3" {strSelectedOption3}>{LNG_LAST_DAYS}</option>
			<option value="4" {strSelectedOption4}>{LNG_THIS_MONTH}</option>
			<option value="5" {strSelectedOption5}>{LNG_LAST_MONTH}</option>
			<option value="6" {strSelectedOption6}>{LNG_ALL_TIME}</option></select> 
		</td>
	</tr>

	<tr valign="top">
		<td nowrap valign="middle">
			<input type="radio" name="select_date_radio" value="2" {strCheckedOption2} onClick="javascript: my_disable(1);"/> 
			<input name='from_date' class="date_param_input" id="from_date" type="text" value="{startDateValue}" {strEnabledOption2} style="font-size: 9pt;" size="20"/> 
			<input id="start_date" type="hidden" name="start_date"/>	
		</td>
		<td align="center" valign="middle">
			<font face="verdana" size=2>-</font>
		</td>
		<td nowrap valign="middle">
			<input name='to_date' class="date_param_input" id="to_date" type="text" value="{endDateValue}" {strEnabledOption2} style="font-size: 9pt;" size="20"/> 
			<input id="end_date" type="hidden" name="end_date"/>
		</td>
		<td nowrap valign="middle" width="16">
		</td>
		<td style="">
			<!--input name="sub" type="image" src="images/langs/{default_lng}/show_button.gif" alt="{LNG_SHOW_STATISTICS}"-->
			<a name="sub" id="statistics_show_button" onclick="javascript:submitDateForm();">{LNG_SHOW}</a>
			<input type="hidden" name="type" value="{type}"/>
		    <input type="hidden" name="limit" value="{limit}"/>
		    <input type="hidden" name="offset" value="{offset}" />
            <input type="hidden" name="sortby" value="{sortby}" />
			{class}
		</td>
	</tr>
</table>
</td>
</tr>
</table>

</form><br>