<table width="100%" cellpadding="0" cellspacing="0"><tr><td>{strMenu}</td><td align="right"></td></tr></table>
<script type="text/javascript" language="javascript">
	$(function() {
		if("{needTabs}"=="true"){
			$("#tabs").tabs({
				collapsible: true,
				active:{activeTab}
			}).css("border", "none");
		}
	});
</script>