<table width="95%"><tr><td align="left"><b>{LNG_TITLE}: {strAlertTitle}</b></td><td align="right"><b>{LNG_CREATION_DATE}: {strAlertDate}</b></td></tr></table><br>
<script language="JavaScript">
	var alertId = {alert_id};
	
	function showWallpaperPreview(data)
	{
		var imageSrc = data.alert_html;
		var position = data.fullscreen;
		$("#preview_image_src").val(imageSrc);
		$("#preview_position").val(position);

		var params  = 'width=' + (screen.width / 2);
		params += ', height=' + (screen.height / 2);
		params += ', fullscreen=no';
		params += ', status=0, toolbar=0, scrollbars=0';

		//openDialogUI('wallpaper_preview.asp',data.alert_width+50,data.alert_height+50);
		window.open('', 'preview_win', params);

		$("#wallpaper_preview_post_form").submit();
	}
	
	function showScreensaverPreview(data)
	{
		var html = data.alert_html;
		$("#preview_html").val(html);
        var str = html; 
        var res = str.match(/src='(.*)'/g);
        alert(res);
		var params  = 'width=' + (screen.width / 2);
		params += ', height=' + (screen.height / 2);
		params += ', fullscreen=no';
		params += ', status=0, toolbar=0, scrollbars=0';

		//openDialogUI(href,data.alert_height);
		window.open('', 'preview_win', params);

		$("#screensaver_preview_post_form").submit();
	}
	
	function showCommonAlertPreview(data)
	{
		var dataStr = JSON.stringify(data);
		$("#preview_data").val(dataStr);
		
		if (data.fullscreen == '1')
		{
			data.alert_width = screen.width / 2;
			data.alert_height = screen.height / 2;
		}
		else if(data.ticker == '1')
		{
			data.alert_width = screen.width / 2;
			data.alert_height = 27;
		}

		var params  = 'width=' + data.alert_width;
		params += ', height=' + data.alert_height;
		params += ', fullscreen=no';
		params += ', status=0, toolbar=0, scrollbars=0';
	
		
		//openDialogUI('',data.alert_width+50,data.alert_height+50);
		window.open('', 'preview_win', params);

		$("#alert_preview_post_form").submit();
	}
	
	function showAlertPreview(alertId)
	{
		var data = new Object();
		
		var text_template;

		getAlertData(alertId,false,function(alertData){	
			data = JSON.parse(alertData);
		});

		var previewButton =  $("<a id='preview_button' style='margin-right:5px'>{PreviewStr}</a>").button();
		
		if (!data.classid || data.classid == "1" || data.classid == "5" || data.classid == "16")
		{
			$(previewButton).click(function(){
				showCommonAlertPreview(data);
			});
		}
		else if (data.classid == "2")
		{	
			$(previewButton).click(function(){
				showScreensaverPreview(data);
			});
		}
		else if (data.classid == "8")
		{
			$(previewButton).click(function(){
				showWallpaperPreview(data);
			});
		}
		
		$("#preview2").append(previewButton);
		return;
	}
	
	$(document).ready(function(){
		showAlertPreview(alertId);
	});
</script>
<form style="margin:0px; width:0px; height:0px; padding:0px" id="wallpaper_preview_post_form" action="wallpaper_preview.asp" method="post" target="dialog_frame">
		<input type="hidden" id="preview_image_src" name="image_src"  value=""/>
		<input type="hidden" id="preview_position" name="position"  value=""/>
</form>
<form style="margin:0px; width:0px; height:0px; padding:0px" id="screensaver_preview_post_form" action="ScreensaverPreview.aspx" method="post" target="dialog_frame">
		<input type="hidden" id="preview_html" name="html"  value=""/>
</form>
<form style="margin:0px; width:0px; height:0px; padding:0px" id="alert_preview_post_form" action="alert_preview.asp" method="post" target="dialog_frame">
		<input type="hidden" id="preview_data" name="preview_data"  value=""/>
</form>
<span id="preview2" name="preview2" style="padding:0px;margin:0px"></span>