<form action="{page}" method="POST">
<table border="0" cellpadding="3">
<tr valign="middle">
	<td nowrap valign="middle">Search {searchName}:</td><td><input type="text" name="search" value="{searchTerms}" style="width:115px"/></td><td><a href="javascript: document.forms[0].submit()" class="search_button">{LNG_SEARCH}</a></td>
</tr>
</table>
</form>