{Header}

{AlertControls}

<br/>
<div style="width:100%; text-align:right;">{LNG_TOTAL_RECIPIENTS}: {totalAlertsValue}</div>

<center><table border=0 style="text-align:left">
<tr><td colspan="3"><div id="alertsChart" style="width:250px;height:180px"></div></td></tr>
<tr><td><div class="legend" style='background-color: #{alertsVal1Color};'></div></td><td>{alertsVal1Name}</td><td>{alertsVal1Value}</td></tr>
<tr{alertsVal2Display}><td><div class="legend" style='background-color: #{alertsVal2Color};'></div></td><td>{alertsVal2Name}</td><td>{alertsVal2Value}</td></tr>
<!--<tr{alertsVal4Display}><td><div class="legend" style='background-color: #{alertsVal4Color};'></div></td><td>{alertsVal4Name}</td><td>{alertsVal4Value}</td></tr>-->
<tr><td><div class="legend" style='background-color: #{alertsVal3Color};'></div></td><td>{alertsVal3Name}</td><td>{alertsVal3Value}</td></tr>
</table></center>
<div style="width:100%; text-align:right;">{csvUrl}</div>

<br/>

<!--BeginSurveyInfo-->
<iframe src="survey_view.asp?id={survey_id}&wh=1" width="100%" height="auto" frameborder="0"></iframe>
<!--EndSurveyInfo-->
<script type="text/javascript">

$(function(){
	if({showAlerts}){
		var alertsPlot = jQuery.jqplot ('alertsChart', [{alertsData}],
		{
			grid:{
				background: 'white',
				renderer: $.jqplot.CanvasGridRenderer,
				drawBorder: false,
				shadow:false
			},
			seriesColors:[{alertsColors}],
			seriesDefaults: {
				shadow:true,
				shadowAlpha: 0.1,
				showMarker:true,
				useNegativeColors:false,
				renderer: jQuery.jqplot.BarRenderer, 
				rendererOptions: {
					fillToZero:true,
					barWidth:40,
					barPadding:25
				}
			},
			legend:{
				show:false,
				location:"e"
			},
			axes:{
				xaxis:{
					renderer:$.jqplot.CategoryAxisRenderer,
					ticks:[''],
					numberTicks:1
				}
			}	
		});
	}
	else
	{
		var alertsPlot = jQuery.jqplot ('alertsChart', [[0]], 
		{ 
			grid:{
				background: 'white',
				renderer: $.jqplot.CanvasGridRenderer,
				drawBorder: false,
				shadow:false
			},
			seriesColors:['#cccccc'],
			seriesDefaults: {
				shadow:true,
				shadowAlpha: 0.1,
				showMarker:true,
				renderer: jQuery.jqplot.BarRenderer, 
				rendererOptions: {
					barWidth:40,
					barPadding:25
				}
			},
			legend:{
				show:false,
				location:"e"
			},
			axes:{
				xaxis:{
					renderer:$.jqplot.CategoryAxisRenderer,
					ticks:[''],
					numberTicks:1
				}
			}
		});
	}
	
});
</script>
{Footer}
