{Header}
<!--<span class="work_header">{strPageName}</span><br>
Set any time period to get more detailed statistics. <br>
To view alert's details click on the alert title.<br><br>-->

{paging}
		<table width="95%" cellspacing="0" cellpadding="3" class="data_table">
		<tr class="data_table_title">
		<td class="table_title" width="20" style="{strAlertTypeStyle}">{LNG_TYPE}</td>
		<td class="table_title">{LNG_ALERTS}</td>
		<td class="table_title">{LNG_CREATION_DATE}</td>
		<td class="table_title">{LNG_SENT_DATE}</td>
		<td class="table_title">{LNG_SENT_BY}</td>
		<td class="table_title">{LNG_RECIPIENTS}</td>
		</tr>

     <!--BeginDListAlertsStat-->
  <tr align="center">
  <td style="{strAlertTypeStyle}">
    {strAlertType}
  </td><td>
  {strAlertTitle}
  </td><td>
  {strAlertDate}
  </td><td>
  {strAlertDate2}
  </td><td>
  {strAlertSentby}
  </td><td>
  {strRecipients}
  </td>
  </tr>
     <!--EndDListAlertsStat-->

</table>
{paging}
<br><br>
{Footer}
