﻿{Header}
{SearchForm}
{paging}
<script type="text/javascript" src="jscripts/jquery.shorten.1.0.js"></script>
<script>

    $(document).ready(function() {
        $(".eclipses").shorten({
              "showChars" : 100,              // - длина текста в символах.
              "moreText"  : " (Show all text)",      // - текст "читать далее".
              "ellipsesText" : "...",         // - вместо многоточия можно вписать к примеру и "[...]".
              "lessText"  : " (Hide text)",   // - текст возврата в исходное состояние.
          });
    });

</script>
<table width="95%" cellspacing="0" cellpadding="3" class="data_table">
    <tr class="data_table_title">
        <td class="table_title">{LNG_USERNAME}</td><td  class="table_title">{LNG_PART}</td>{leftCom}<td class="table_title">{LNG_CONFIRMED}</td>{rightCom}
    </tr>
    <!--BeginDListUsersStat-->
    <tr>
        <td>{strUserName}{strDisplayName}</td><td class="eclipses">{part}</td>{leftCom}<td style="text-align: center;">{confirmed}</td>{rightCom}
    </tr>
    <!--EndDListUsersStat-->
</table>
{paging}

<br>
<!-- center><A href="#" class="close_button" onclick="javascript: window.close()">{LNG_CLOSE}</a></center> -->
{Footer}
