{Header}
<!--<span class="work_header">{strPageName}</span><br>

To view user's details click on the user name.<br><br>-->

{paging}

<script type="text/javascript">
 $(document).ready(function()
    {
    $("#date_form").hide();
});
</script>
		<table width="95%" cellspacing="0" cellpadding="3" class="data_table">
		<tr class="data_table_title">
		<td class="table_title">{LNG_USERNAME}</td>
		<td class="table_title">{LNG_STATUS}</td>
		<td class="table_title">{LNG_REGISTERED}</td>
		<td class="table_title">{LNG_LAST_ACTIVITY}</td>
		</tr>

     <!--BeginDListUsersStat-->
  <tr align="center">
  <td align="left" style="padding-left:4px">
  {strUserName}
  </td><td>
  {strStatus}
  </td><td>
  {strRegDate}
  </td><td>
  {strLastDate}
  </td>
  </tr>
     <!--EndDListUsersStat-->

</table>
{paging}
<br><br>
{Footer}
