{Header}
{SearchForm}
{paging}
<table width="95%" cellspacing="0" cellpadding="3" class="data_table">
<tr class="data_table_title">
	<td class="table_title">{LNG_USERNAME}</td>
	<td class="table_title">{LNG_DATE}</td></tr>
     <!--BeginDListUsersStat-->
<tr>
    <td>{strUserName}</td>
    <td>{strDate}
      <input type="hidden" name="recipientId" value="{strUserId}"/>
    </td>
</tr>
     <!--EndDListUsersStat-->

</table>
{paging}
<a href="#" class="delete_button" id="newGroupButton" onclick="openDialog()">{LNG_ADD_USERS_TO_GROUP}</a>
<div id="newGroupDialog" style="display: none">
    <label id="groupNameLabel" for="linkValue">{LNG_GROUP_NAME} : </label>
    <input id="groupName" type="text" style="width: 200px"/><br/><br/>

    <a href='#' class="delete_button"  style="float: right;" onclick="javascript:addGroup();">
        {LNG_CREATE}
    </a>

</div>
<script language="javascript">
    

    var usersIds = $("input[name=recipientId]")
    .map(function () {
            return $(this).val();
        })
    .get()
    .join();

    if (usersIds.length == 0) {

        $("#newGroupButton").css('display', 'none');
    }

    $("#newGroupDialog").dialog({
        autoOpen: false,
        height: 125,
        width: 200,
        modal: true,
        resizable: false
    });


    function openDialog() {

        $("#newGroupDialog")
            .dialog({
                autoOpen: false,
                height: 125,
                width: 250,
                modal: true,
                resizable: false
            })
            .dialog("open");

    }

    function addGroup() {

        var name = $("#groupName").val();

        var usersIds = $("input[name=recipientId]")
            .map(function() {
                return $(this).val();
            })
            .get()
            .join();


        if (usersIds.length == 0) {

            alert("There are no users chosen this answer");
            return;
        }
        $.ajax({
            type: "POST",
            url: "EditGroups.aspx/AddGroup",
            data: '{name: "' + name + '", ids: "' + usersIds + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {

                $("#newGroupDialog").dialog("close");
                alert("Recipients were successfully added to group " + name);
               
                //window.parent.parent.document.getElementById('menu').src = window.parent.parent.document.getElementById('menu').src;
            },
            failure: function (response) {
                alert(response.d);
            }
        });

    }
</script>
 {Footer}
