{Header}
<span class="work_header">{strPageName}</span><br>
		<!-- <b><center>Installation Statistics</center></b> -->
		This section contains total information about your clients - number of installs, uninstalls, active.<br><br>




		<table width="95%" cellspacing="0" cellpadding="3" class="data_table">
		<tr class="data_table_title">
		<td class="table_title">Installs</td>
		<td class="table_title">Uninstalls</td>
		<td class="table_title">Active</td>
				</tr>
     <!--BeginDListToolbarStat-->
  <tr align="center">
  <td>
  {intInstallNum}
  </td><td>
  {intUninstallNum}
  </td><td>
  {intActiveNum}
  </td>
  </tr>
     <!--EndDListToolbarStat-->

</table><br><br>
{Footer}
