<b>, <A href="#"  onclick="javascript: window.open('statistics_da_users_view_groups.asp?id={intUserId}&type=ous','', 'status=0, toolbar=0, width=350, height=350, scrollbars=1')">{LNG_OUS}</a> ({intOUsCnt})</b>