{Header}
<!--<span class="work_header">{strPageName}</span><br>
Set any time period to get more detailed statistics. <br>
To view survey's details click on the survey title.<br><br>-->

{paging}

		<table width="95%" cellspacing="0" cellpadding="3" class="data_table">
		<tr class="data_table_title">
		<td class="table_title" style="width:50px">{LNG_TYPE}</td>
		<td class="table_title">{LNG_SURVEYS}</td>
		<td class="table_title">{LNG_DATE}</td>
		<td class="table_title">{LNG_SENT_BY}</td>
		<td class="table_title">{LNG_RECIPIENTS}</td>
		</tr>

     <!--BeginDListSurveysStat-->
  <tr align="center">
  <td align="center">
		<img src="images/alert_types/{typeImage}.png" title="{typeTitle}" border="0"/>
  </td>
  <td>
  {strSurveyTitle}
  </td><td>
  <script language="javascript">document.write(getUiDateTime('{strSurveyDate}'))</script>
  </td><td>
  {strSurveySentby}
  </td><td>
  {strSurveyRecipients}
  </td>
  </tr>
     <!--EndDListSurveysStat-->

</table>
{paging}
<br><br>
{Footer}
