{Header}
<span class="work_header">Manage Toolbars</span><br><br>
<form action="manage_toolbars.asp" method="POST">
Select Toolbar: <select name="intToolbarId">
   <!--BeginDListToolbarSelect-->
<option value="{intToolbarId}" {strSelected}>{strToolbarName}</option>
  <!--EndDListToolbarSelect-->
</select> <input type="submit" name="submit" value="Select"/>
</form>

<br><br>
<span class="work_header">Edit toolbar</span><br><br>

<form method="post" action="edit_toolbar.asp" name="web">
<input type="hidden" name="intToolbarIdForm" value="{intToolbarIdForm}">
<table cellpadding=0 cellspacing=4 border=0 class="body" width="98%">
<tr><td width="150">Name:</td><td><input name="strToolbarNameForm" type="text" value="{strToolbarNameForm}"></td></tr>
<tr><td width="150">ID:</td><td>{strToolbarIdForm}</td></tr>
<tr><td width="150">After Install URL:</td><td><input name="strAfterInstallUrlForm" type="text" value="{strAfterInstallUrlForm}"></td></tr>
<tr><td width="150">After Uninstall URL:</td><td><input name="strAfterUninstallUrlForm" type="text" value="{strAfterUninstallUrlForm}"></td></tr>

<tr><td colspan=2 align=right><!--<input type="submit" name="submit" value="Save">--><input type="image" src="images/save.gif" alt="Save"></td></tr>
</table>
</form>

<!--<table width="100%" border="0" align="center" cellspacing="0" cellpadding="0"><tr><td>
	<table border="1" bordercolor="#000000" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align=center>
		<tr>
		<td width=100% height=31 bgcolor="#999999"><div class="header_title">Edit toolbar</div></td>
		</tr>
		<tr>
		<td bgcolor="#ffffff"> 
<form method="post" action="edit_toolbar.asp" name="web"><div style="margin: 20px 10px 10px 10px;">
<input type="hidden" name="intToolbarIdForm" value="{intToolbarIdForm}">
<table cellpadding=0 cellspacing=4 border=0>
<tr><td class="body">Name:</td><td><input name="strToolbarNameForm" type="text" value="{strToolbarNameForm}"></td></tr>
<tr><td class="body">ID:</td><td>{strToolbarIdForm}</td></tr>
<tr><td class="body">After Install URL:</td><td><input name="strAfterInstallUrlForm" type="text" value="{strAfterInstallUrlForm}"></td></tr>
<tr><td class="body">After Uninstall URL:</td><td><input name="strAfterUninstallUrlForm" type="text" value="{strAfterUninstallUrlForm}"></td></tr>

<tr><td colspan=2 align=right><input type="submit" name="submit" value="Save"></td></tr>
</table></div>
	</form>
		</td>
		</tr>
	</table>

</td></tr></table>-->

</table><br><br>
{Footer}
