{Header}

<table width="95%"><tr><td align="left"><b>{strUserName}</b>{strDisplayName}</td><td align="right"><b><A href="#" onclick="javascript: window.open('statistics_da_users_view_groups.asp?id={intUserId}&type=groups','', 'status=0, toolbar=0, width=350, height=350, scrollbars=1')">{LNG_GROUPS}</a> ({intGroupsCnt})</b> {ou_menu}</td></tr></table><br>
<div style="width:100%; text-align:right;">{LNG_TOTAL}: {totalAlertsValue}</div>

<center><table border=0 style="text-align:left">
<tr><td colspan="3"><div id="alertsChart" style="width:250px;height:180px"></div></td></tr>
<tr><td><div class="legend" style='background-color: #{alertsVal1Color};'></div></td><td>{alertsVal1Name}</td><td><a href='#' onclick="javascript: window.open('statistics_da_users_view_alerts.asp?type=rec&id={intUserId}&from_date={strFromDate}&to_date={strToDate}','', 'status=0, toolbar=0, width=350, height=350, scrollbars=1')">{alertsVal1Value}</a></td></tr>
<tr><td><div class="legend" style='background-color: #{alertsVal2Color};'></div></td><td>{alertsVal2Name}</td><td><a href='#' onclick="javascript: window.open('statistics_da_users_view_alerts.asp?type=ack&id={intUserId}&from_date={strFromDate}&to_date={strToDate}','', 'status=0, toolbar=0, width=350, height=350, scrollbars=1')">{alertsVal2Value}</a></td></tr>
<tr><td><div class="legend" style='background-color: #{alertsVal3Color};'></div></td><td>{alertsVal3Name}</td><td><a href='#' onclick="javascript: window.open('statistics_da_users_view_alerts.asp?type=drec&id={intUserId}&from_date={strFromDate}&to_date={strToDate}','', 'status=0, toolbar=0, width=350, height=350, scrollbars=1')">{alertsVal3Value}</a></td></tr>
</table></center>
<div style="width:100%; text-align:right;"><A href="{csvUrl}" target="_blank"><b>{LNG_EXPORT_TO_CSV}</b></a></div>
<br>


<center><A href="#" class="close_button" onclick="javascript: window.close()">{LNG_CLOSE}</a></center>
<script type="text/javascript">
$(document).ready(function(){
	if("{showAlerts}"=="true"){
	var alertsPlot = jQuery.jqplot ('alertsChart', [{alertsData}], 
		{ 
			grid:{
				background: 'white',
				renderer: $.jqplot.CanvasGridRenderer,
				drawBorder: false,
				shadow:false
			},
			seriesColors:[{alertsColors}],
			seriesDefaults: {
				shadow:true,
				shadowAlpha: 0.1,
				showMarker:true,
				useNegativeColors:false,
				renderer: jQuery.jqplot.BarRenderer, 
				rendererOptions: {
					fillToZero:true,
					barWidth:40,
					barPadding:25
				}
			},
			legend:{
				show:false,
				location:"e"
			},
			axes:{
				xaxis:{
					renderer:$.jqplot.CategoryAxisRenderer,
					ticks:[''],
					numberTicks:1
				}
			}	
		}
		);
	}
	else
	{
		var alertsPlot = jQuery.jqplot ('alertsChart', [[0]], 
		{ 
			grid:{
				background: 'white',
				renderer: $.jqplot.CanvasGridRenderer,
				drawBorder: false,
				shadow:false
			},
			seriesColors:['#cccccc'],
			seriesDefaults: {
				shadow:true,
				shadowAlpha: 0.1,
				showMarker:true,
				renderer: jQuery.jqplot.BarRenderer, 
				rendererOptions: {
					barWidth:40,
					barPadding:25
				}
			},
			legend:{
				show:false,
				location:"e"
			},
			axes:{
				xaxis:{
					renderer:$.jqplot.CategoryAxisRenderer,
					ticks:[''],
					numberTicks:1
				}
			}	
		}
		);
	}
});
</script>
{Footer}
