{Header}
<!--<span class="work_header">{strPageName}</span><br>

Overall: Set any time period to get more details.-->
<script type="text/javascript">
$(document).ready(function(){
	if("{drawAlerts}" == "true"){
		var data = [{alertsValues}];
		var alertsPlot = jQuery.jqplot ('alertsChart', [data], 
		{ 
			grid:{
				background: '#ffffff',
				renderer: $.jqplot.CanvasGridRenderer,
				drawBorder: false,
				shadow:false
			},
			seriesColors:[{alertsColors}],
			seriesDefaults: {
				shadow:true,
				shadowAlpha: 0.1,
				renderer: jQuery.jqplot.PieRenderer, 
				rendererOptions: {
					diameter:220,
					padding: 25,
					highlightMouseOver:false
				}
			},
			legend:{
				show:false,
				location:"s"
			},
			highlighter:{
				useAxesFormatters:false,
				show:true,
				tooltipFormatString:'%s',
				fadeTooltip:false
			}	
		}
		);
	}
	else{
		var alertsPlot = jQuery.jqplot ('alertsChart', [['',1]], 
		{ 
			grid:{
				background: '#ffffff',
				renderer: $.jqplot.CanvasGridRenderer,
				drawBorder: false,
				shadow:false
			},
			seriesColors:['#f0f0f1'],
			seriesDefaults: {
				shadow:true,
				shadowAlpha: 0.1,
				renderer: jQuery.jqplot.PieRenderer, 
				rendererOptions: {
					diameter:220,
					padding: 25,
					highlightMouseOver:false
				}
			},
			legend:{
				show:false,
				location:"e"
			}	
		}
		);
	}
	if("{drawUsers}" == "true"){
		var data = [{usersValues}];
		var usersPlot = jQuery.jqplot ('usersChart', [data], 
		{ 
			grid:{
				background: '#ffffff',
				renderer: $.jqplot.CanvasGridRenderer,
				drawBorder: false,
				shadow:false
			},
			seriesColors:[{usersColors}],
			seriesDefaults: {
				shadow:true,
				shadowAlpha: 0.1,
				renderer: jQuery.jqplot.PieRenderer, 
				rendererOptions: {
					diameter:220,
					padding: 25,
					highlightMouseOver:false
				}
			},
			legend:{
				show:false,
				location:"e"
			},
			highlighter:{
				useAxesFormatters:false,
				show:true,
				tooltipFormatString:'%s',
				fadeTooltip:false
			}	
		}
		);
	}
	else
	{
		var usersPlot = jQuery.jqplot ('usersChart', [['',1]], 
		{ 
			grid:{
				background: '#ffffff',
				renderer: $.jqplot.CanvasGridRenderer,
				drawBorder: false,
				shadow:false
			},
			seriesColors:['#f0f0f1'],
			seriesDefaults: {
				shadow:true,
				shadowAlpha: 0.1,
				renderer: jQuery.jqplot.PieRenderer, 
				rendererOptions: {
					diameter:220,
					padding: 25,
					highlightMouseOver:false
				}
			},
			legend:{
				show:false,
				location:"e"
			}	
		}
		);
	}
});
</script>
<table width="98%" border="0" cellspacing="10" cellpadding="3">
<tr align="center">
<td width="30%"><!--<a class="overall_link" href="{alertsStatUrl}">Alerts statistics</a>
<div style="width:100%; text-align:right;">Total: {totalAlertsValue}</div>--></td>
</td>
<td width="30%"><!--<a class="overall_link" href="{usersStatUrl}">Users statistics</a>
<div style="width:100%; text-align:right;">Total: {totalUsersValue}--></div>
</td>
</tr>
<tr align="center">
<td class="overall_table" valign="top">
<span class="overall_link">{LNG_OVERALL_STATISTICS}</span>
<!--<div style="width:100%; text-align:right;">{LNG_TOTAL}: {totalAlertsValue}</div>-->
<div id='alertsChart' style='width:300px;height:300px'></div>
<table border=0 style="text-align:left" class='chartLegend'>
<tr><td><div class="legend" style='background-color: #{alertsVal1Color};'></div></td><td>{alertsVal1Name}</td><td>{alertsVal1Value}</td></tr>
<tr><td><div class="legend" style='background-color: #{alertsVal2Color};'></div></td><td>{alertsVal2Name}</td><td>{alertsVal2Value}</td></tr>
<tr><td><div class="legend" style='background-color: #{alertsVal3Color};'></div></td><td>{alertsVal3Name}</td><td>{alertsVal3Value}</td></tr>
</table>
<br>
</td>
<td class="overall_table" valign="top">
<a class="overall_link" href="#" onclick="javascript: stat_submit('{usersStatUrl}');">{LNG_USERS_STATISTICS}</a>
<!--<div style="width:100%; text-align:right;">{LNG_TOTAL}: {totalUsersValue}</div>-->
<div id='usersChart' style='width:300px;height:300px'></div>
<table border=0 style="text-align:left" class='chartLegend'>
<tr><td><div class="legend" style='background-color: #{usersVal1Color};'></div></td><td>{usersVal1Name}</td><td>{usersVal1Value}</td></tr>
<tr><td><div class="legend" style='background-color: #{usersVal2Color};'></div></td><td>{usersVal2Name}</td><td>{usersVal2Value}</td></tr>
<tr><td><div class="legend" style='background-color: #{usersVal3Color};'></div></td><td>{usersVal3Name}</td><td>{usersVal3Value}</td></tr>
<tr><td><div class="legend" style='background-color: #{usersVal4Color};'></div></td><td>{usersVal4Name}</td><td>{usersVal4Value}</td></tr>
</table>
<br>
</td>
<!--{surveysTable}-->
</tr>
</table>
<br>

{Footer}
