{Header}

<table width="95%"><tr><td align="left"><b>{LNG_TITLE}: {strSurveyTitle}</b></td><td align="right"><b>{LNG_DATE}: {strSurveyDate}</b></td></tr></table><br>
<div style="width:100%; text-align:right;">{LNG_TOTAL}: {totalSurveysValue}</div>

<center><table border=0 style="text-align:left">
<tr><td colspan="3"><div id="surveysChart" style="width:250px;height:180px"></div></td></tr>
<tr><td><div class="legend" style='background-color: #{surveysVal1Color};'></div></td><td>{surveysVal1Name}</td><td><a href='#' onclick="javascript: window.open('statistics_da_surveys_view_users.asp?type=rec&id={intSurveyId}','', 'status=0, toolbar=0, width=350, height=350, scrollbars=1')">{surveysVal1Value}</a></td></tr>
<tr><td><div class="legend" style='background-color: #{surveysVal2Color};'></div></td><td>{surveysVal2Name}</td><td><a href='#' onclick="javascript: window.open('statistics_da_surveys_view_users.asp?type=drec&id={intSurveyId}','', 'status=0, toolbar=0, width=350, height=350, scrollbars=1')">{surveysVal2Value}</a></td></tr>
<tr><td><div class="legend" style='background-color: #{surveysVal3Color};'></div></td><td>{surveysVal3Name}</td><td><a href='#' onclick="javascript: window.open('statistics_da_surveys_view_users.asp?type=vot&id={intSurveyId}','', 'status=0, toolbar=0, width=350, height=350, scrollbars=1')">{surveysVal3Value}</a></td></tr>
<tr><td><div class="legend" style='background-color: #{surveysVal4Color};'></div></td><td>{surveysVal4Name}</td><td><a href='#' onclick="javascript: window.open('statistics_da_surveys_view_users.asp?type=dvot&id={intSurveyId}','', 'status=0, toolbar=0, width=350, height=350, scrollbars=1')">{surveysVal4Value}</a></td></tr>
</table></center>
<div style="width:100%; text-align:right;"><A href="{csvUrlSurvey}" target="_blank"><b>{LNG_EXPORT_TO_CSV}</b></a></div>
<br>
<a name="results"><b>{LNG_SURVEY_RESULTS}</b></a><br>
<b>{LNG_QUESTION}: {question}</b><br>
<div style="width:100%; text-align:right;">{LNG_TOTAL}: {totalAnswersValue}</div>

<center>
<div id="answersChart" style="width:350px;height:250px"></div>
<table border=0 style="text-align:left">
     <!--BeginDListSurveyAnswers-->
	<tr><td><div class="legend" style='background-color: #{answerValColor};'></div></td><td>{answerValName}</td><td><a href='#' onclick="javascript: window.open('statistics_da_surveys_view_users.asp?type=ans&answer_id={intAnswerId}','', 'status=0, toolbar=0, width=350, height=350, scrollbars=1')">{answerValValue}</a></td></tr>
     <!--EndDListSurveyAnswers-->
</table>
<a href='#' onclick="javascript: window.open('statistics_da_surveys_view_users_custom.asp?question_id={intQuestionId}','', 'status=0, toolbar=0, width=350, height=350, scrollbars=1')">{surveyCustomAnswers}</a><br/><br/>
<div style="width:100%;">
{surveyPrevLink}
{surveyNextLink}
</div>
<br>
<div style="width:100%; text-align:right;"><A href="{csvUrlResults}" target="_blank"><b>{LNG_EXPORT_THIS_QUESTION_TO_CSV}</b></a></div>
<div style="width:100%; text-align:right;"><A href="{csvUrlResultsAll}" target="_blank"><b>{LNG_EXPORT_ALL_QUESTIONS_TO_CSV}</b></a></div>
</center>
<script language="javascript" type="text/javascript">
$(function(){
	$(".q_button").button();
});
function showQuestion(id)
{
	$("#q_num").val(id);
	$("#question_form").submit();
}
</script>
<form id="question_form" action="">

<input type="hidden" name="id" value="{intSurveyId}"></input>
<input type="hidden" name="q_num" id="q_num" value="{questionNumber}"></input>
</form>
<br>
<center><A href="#" class="close_button" onclick="javascript: window.close()">{LNG_CLOSE}</a></center>
<script type="text/javascript">
$(document).ready(function(){
	if("{drawSurveys}"=="true"){
	var surveysPlot = jQuery.jqplot ('surveysChart', [{surveysData}], 
		{ 
			grid:{
				background: 'white',
				renderer: $.jqplot.CanvasGridRenderer,
				drawBorder: false,
				shadow:false
			},
			seriesColors:[{surveysColors}],
			seriesDefaults: {
				shadow:true,
				shadowAlpha: 0.1,
				showMarker:true,
				useNegativeColors:false,
				renderer: jQuery.jqplot.BarRenderer, 
				rendererOptions: {
					fillToZero:true,
					barWidth:35,
					barPadding:15
				}
			},
			legend:{
				show:false,
				location:"e"
			},
			axes:{
				xaxis:{
					renderer:$.jqplot.CategoryAxisRenderer,
					ticks:[''],
					numberTicks:1,
					pad:10
				}
			}	
		}
		);
	}
	else
	{
		var alertsPlot = jQuery.jqplot ('surveysChart', [[0]], 
		{ 
			grid:{
				background: 'white',
				renderer: $.jqplot.CanvasGridRenderer,
				drawBorder: false,
				shadow:false
			},
			seriesColors:['#cccccc'],
			seriesDefaults: {
				shadow:true,
				shadowAlpha: 0.1,
				showMarker:true,
				renderer: jQuery.jqplot.BarRenderer, 
				rendererOptions: {
					barWidth:40,
					barPadding:25
				}
			},
			legend:{
				show:false,
				location:"e"
			},
			axes:{
				xaxis:{
					renderer:$.jqplot.CategoryAxisRenderer,
					ticks:[''],
					numberTicks:1
				}
			}	
		}
		);
	}
	if("{drawAnswers}" == "true"){
		var data = [{answersValues}];
		var answersPlot = jQuery.jqplot ('answersChart', [data], 
		{ 
			grid:{
				background: '#ffffff',
				renderer: $.jqplot.CanvasGridRenderer,
				drawBorder: false,
				shadow:false
			},
			seriesColors:[{answersColors}],
			seriesDefaults: {
				shadow:true,
				shadowAlpha: 0.1,
				renderer: jQuery.jqplot.PieRenderer, 
				rendererOptions: {
					diameter:200,
					padding: 25
				}
			},
			legend:{
				show:false,
				location:"s"
			}
		}
		);
	}
	else{
		var alertsPlot = jQuery.jqplot ('answersChart', [['',1]], 
		{ 
			grid:{
				background: '#ffffff',
				renderer: $.jqplot.CanvasGridRenderer,
				drawBorder: false,
				shadow:false
			},
			seriesColors:['#f0f0f1'],
			seriesDefaults: {
				shadow:true,
				shadowAlpha: 0.1,
				renderer: jQuery.jqplot.PieRenderer, 
				rendererOptions: {
					diameter:200,
					padding: 25,
					highlightMouseOver:false
				}
			},
			legend:{
				show:false,
				location:"e"
			}	
		}
		);
	}
});
</script>
{Footer}
