{Header}
<!--<span class="work_header">{strPageName}</span><br>

Overall: Set any time period to get more details.-->

    <script type="text/JavaScript" language="JavaScript" src="jscripts/json2.js"></script>
    <link href="css/jquery/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="css/style9.css" rel="stylesheet" type="text/css" />
    <script language="javascript" type="text/javascript" src="jscripts/jquery/jquery.cookies.2.2.0.min.js"></script>
    <script language="javascript" type="text/javascript" src="jscripts/jquery/jquery.cookie.js"></script>
    <script language="javascript" type="text/javascript" src="jscripts/isotope.pkgd.min.js"></script>
    <script language="javascript" type="text/javascript" src="jscripts/packery-mode.pkgd.min.js"></script>
    	<script language="javascript" type="text/javascript" src="functions.js"></script>


<script type="text/javascript">

        function changeParameters(widgetId, params) {

            var frameId = "#i" + widgetId.toUpperCase();

            var oldSrc = $(frameId).attr("src");

            var newSrc = oldSrc + "?" + params;

            $(frameId).attr("src", newSrc);
        }

		function detectIE() {
			var ua = window.navigator.userAgent;
			var msie = ua.indexOf('MSIE ');
			var trident = ua.indexOf('Trident/');

			if (msie > 0) {
				// IE 10 or older => return version number
				return parseInt(ua.substring(msie + 5, ua.indexOf('.', msie)), 10);
			}

			if (trident > 0) {
				// IE 11 (or newer) => return version number
				var rv = ua.indexOf('rv:');
				return parseInt(ua.substring(rv + 3, ua.indexOf('.', rv)), 10);
			}

			// other browser
			return false;
		}

		function getOrder() {
		    var str = "";
		    var items = $("#statList").sortable("toArray");

		    for (var i = 0, n = items.length; i < n; i++) {
		        var v = $('#' + items[i]).find('.portlet-content').is(':visible');
		        items[i] = items[i] + "," + v;
		        if (i != 0) str = str + "," + items[i];
		        else str = str + items[i];
		    };

		    $.get("set_parameters.asp?name=setStatListOrder&statListOrder=" + str);
		};
        
        function restoreOrder() {
            var list = $("#statList");

            if (list == null) return;

            $.get("set_parameters.asp?name=getStatListOrder", function (data) {
                var cookie = data;
                if (!cookie) return;
                var IDs = cookie.split(',');
                var rebuild = new Array();
                var items = list.sortable("toArray");
                for (var v = 0, len = items.length; v < len; v++) {
                    rebuild[items[v]] = items[v];
                }
                for (var i = 0, n = IDs.length; i < n - 1; i++) {
                    var itemID = IDs[i];
                    var visible = IDs[i + 1]; i = i + 1;
                    if (itemID in rebuild) {
                        var item = rebuild[itemID];
                        var child = $("div.ui-sortable").children("#" + item);
                        var savedOrd = $("div.ui-sortable").children("#" + itemID);
                        $("div.ui-sortable").filter(":first").append(savedOrd);
                        if (visible === 'false') {
                            child.find(".ui-icon").toggleClass("ui-icon-minusthick ui-icon-plusthick");
                            child.find(".portlet-content").hide();
                        }
                        else {
                            child.find(".portlet-content").show();
                        }
                    }
                }
            });
        };
        
        function addWidgetToPage(id, title, link){
				$('#statList').append("<div class='add_here' id='" + id + "'></div>");
			iframeSize = getWidgetWidth(title);
			portletSize = iframeSize=="100%"?iframeSize:iframeSize+10;
			$('.add_here').first().append('<div class="portlet-header overall_link">' + title + '</div>' +
					'<div class="portlet-content">' +
					'<iframe class="widget_iframe" id="i' + id + '" width="'+ iframeSize +'" frameborder="0" onLoad="autoHeight(\'i' + id + '\')" src="' + link + '"/>' +
					'</div>' +
					'</div>').addClass("portlet").addClass("column").width(portletSize).addClass("isotopey").removeClass("add_here")
					.addClass("ui-widget ui-widget-content ui-helper-clearfix ui-corner-all")
					.find(".portlet-header")
					.addClass("ui-widget-header ui-corner-all")
					.prepend("<span class='ui-icon ui-icon-minusthick portlet-toggle'></span>")
					.prepend("<span class='ui-icon ui-icon-closethick portlet-destroy'></span>");
			}
			
		function changeIframeSrc(id, newsrc){
			document.getElementById(id).src = newsrc;
		}
			
		function autoHeight(id) {
			var height = document.getElementById(id).height;
			var newheight;
			if (document.getElementById) {
				scrollheight = document.getElementById(id).contentWindow.document.body.scrollHeight;
				offsetheight = document.getElementById(id).contentWindow.document.body.offsetHeight;
				//alert("scroll" + scrollheight);
				//alert("offset" + offsetheight);
				if (scrollheight>offsetheight+50 && offsetheight>0){
					newheight = offsetheight + 20;
				}
				else{
					newheight = scrollheight;
				}
			}
			var ie = detectIE();
			if (ie != false) {
				newheight = newheight + 20;
			}
			
			document.getElementById(id).height = (newheight) + "px";
			if (height!=newheight){
				 $("#statList").isotope('reloadItems').isotope({ sortBy: 'original-order'});
			}
		}
        
 $(document).ready(function()
    {
	var list = $('#statList');
list.isotope({  
  transformsEnabled: false
  , itemSelector: '.isotopey'
  , layoutMode:'packery'
});
list.sortable({
  cursor: 'move'
  , start: function(event, ui) {                        
    ui.item.addClass('grabbing moving').removeClass('isotopey');
    ui.placeholder
      .addClass('starting')
      .removeClass('moving')
      .css({
        top: ui.originalPosition.top
        , left: ui.originalPosition.left
      })
      ;
    list.isotope('reloadItems');
  }
  , change: function(event, ui) {
    ui.placeholder.removeClass('starting');
    list
      .isotope('reloadItems')
      .isotope({ sortBy: 'original-order'})
    ;
  }
  , beforeStop: function(event, ui) {
    ui.placeholder.after(ui.item);
  }
  , update: function() { getOrder(); },
  stop: function(event, ui) {      
    ui.item.removeClass('grabbing').addClass('isotopey');
    list
      .isotope('reloadItems')
      .isotope({ sortBy: 'original-order' }, function(){
        if (!ui.item.is('.grabbing')) {
          ui.item.removeClass('moving');
        }
      })
      ;
  }
});
    $("#date_form").hide();

            $(".portlet")
            .addClass("ui-widget ui-widget-content ui-helper-clearfix ui-corner-all")
            .find(".portlet-header")
            .addClass("ui-widget-header ui-corner-all")
            .prepend("<span class='ui-icon ui-icon-minusthick portlet-toggle'></span>")
            .prepend("<span class='ui-icon ui-icon-closethick portlet-destroy'></span>");
			$('#statList').on('click','.portlet-toggle',function(){
				$(this).toggleClass("ui-icon-minusthick").toggleClass("ui-icon-plusthick");
                $(this).parents(".portlet:first").find(".portlet-content").toggle();
                var frame_id = $(this).parents(".portlet:first").attr("id");
                var isIE = detectIE();
                if ($(this).parents(".portlet:first").find(".portlet-content").is(":visible") && isIE!=false){
					document.getElementById("i"+frame_id).contentDocument.location.reload(true);	
                }
                $("#statList").isotope('reloadItems').isotope({ sortBy: 'original-order'});
                getOrder();
			});
			$('#statList').on('click','.portlet-destroy',function(){
				var item_id = $(this).parents(".portlet:first").attr("id");
				var jqxhr = $.get("manipulate_widgets.asp",{id:item_id, action: "remove"})
				$(this).parents(".portlet:first").remove();
				$("#statList").isotope('reloadItems').isotope({ sortBy: 'original-order'});
                getOrder();
			});
			initWidgetsForEditor();
            restoreOrder();
            $(".widget_iframe").load(function(){
				$("#statList").isotope('reloadItems').isotope({ sortBy: 'original-order'});
			});

			$("#add_another").button({label:"{addWidgetCaption}", icons: {primary: "ui-icon-newwin"}}).click(function(){ $("#add_widget_form").dialog("open");});

			$("#add_widget_form").load("add_widget.asp?page=stats").dialog({
				title: "{addWidgetCaption}",
				position: {my: "left top", at: "left top", of: window},
				modal: true,
				autoOpen:false,
				resizable: false,
				draggable: false,
				width: 'auto',
				resize: 'auto',
				margin:'auto'
			});
			
			function initWidgetsForEditor(){
				var widgetsList = {widgetsList};
				for (i=0;i<widgetsList.length;i++){
					id = widgetsList[i][0];
					title = widgetsList[i][1];
					link = widgetsList[i][2];
					addWidgetToPage(id,title,link);
				}
			}
});
</script>
<style>

  .column 
  {
    float: left;
    padding-bottom: 50px;
  }
  .portlet {
    margin: 0 1em 1em 0;
    padding: 0.2em;
  }
  .portlet-header {
    padding: 0.2em 0.3em;
    position: relative;
    text-align: center;
    cursor:pointer;
  }
  .portlet-toggle {
    position: absolute;
    top: 50%;
    right: 25px;
    margin-top: -8px;
  }
  .portlet-destroy {
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -8px;
  }
  .portlet-content 
  {
    padding: 0.4em;
  }
  .portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
    width: 350px;
  }
  table.chartLegend {
    margin-right:auto;
    margin-left:auto;
  }
  
  </style>
  <div style="padding:5px">
  <button id="add_another" style="margin-bottom:10px">Add another</button>
<div id="add_widget_form"></div>
<div id="statList">


</div>
	</div>
</div> 
<br>

{Footer}
