{Header}
{SearchForm}
{paging}
<table width="95%" cellspacing="0" cellpadding="3" class="data_table">
<tr class="data_table_title">
	<td class="table_title">{LNG_USERNAME}</td>
	<td class="table_title">{LNG_DATE}</td>
	<td class="table_title">{LNG_ANSWER}</td>
	</tr>
     <!--BeginDListUsersStat-->
<tr>
<td>{strUserName}</td>
<td>{strDate}</td>
<td>{strAnswer}</td>
</tr>
     <!--EndDListUsersStat-->

</table>
{paging}

<br>
<center><A href="#" class="close_button" onclick="javascript: window.close()">{LNG_CLOSE}</a></center>
{Footer}
