{Header}
{paging}
<table width="95%" cellspacing="0" cellpadding="3" class="data_table">
<tr class="data_table_title">
	<td class="table_title">{LNG_ALERT}</td>
	<td class="table_title">{LNG_DATE}</td></tr>
     <!--BeginDListUsersStat-->
<tr>
<td>{strAlertTitle}</td>
<td>{strDate}</td></tr>
     <!--EndDListUsersStat-->

</table>
{paging}

<br>
<center><a href="#" class="close_button" onclick="javascript: window.close()">{LNG_CLOSE}</a></center>
{Footer}
