{Header}
{SearchForm}
{paging}
<table width="95%" cellspacing="0" cellpadding="3" class="data_table">
	<tr class="data_table_title">
		<td class="table_title">{LNG_USERNAME}</td>
	</tr>
	<!--BeginDListUsersStat-->
	<tr>
		<td>{strUserName}{strDisplayName}</td>
	</tr>
	<!--EndDListUsersStat-->
</table>
{paging}

<br>
<!-- center><A href="#" class="close_button" onclick="javascript: window.close()">{LNG_CLOSE}</a></center> -->
{Footer}
