<td class="overall_table" valign="top">
<a class="overall_link" href="#" onclick="javascript: stat_submit('{surveysStatUrl}');">{LNG_SURVEYS_STATISTICS}</a>
<!--<div style="width:100%; text-align:right;">{LNG_TOTAL}: {totalSurveysValue}</div>-->
<script type="text/javascript">
$(document).ready(function(){
	if("{drawSurveys}" == "true"){
		var data = [{surveysValues}];
		var surveysPlot = jQuery.jqplot ('surveysChart', [data], 
		{ 
			grid:{
				background: '#ffffff',
				renderer: $.jqplot.CanvasGridRenderer,
				drawBorder: false,
				shadow:false
			},
			seriesColors:[{surveysColors}],
			seriesDefaults: {
				shadow:true,
				shadowAlpha: 0.1,
				renderer: jQuery.jqplot.PieRenderer, 
				rendererOptions: {
					diameter:220,
					padding: 25,
					highlightMouseOver:false
				}
			},
			legend:{
				show:false,
				location:"e"
			},
			highlighter:{
				useAxesFormatters:false,
				show:true,
				tooltipFormatString:'%s',
				fadeTooltip:false
			}		
		}
		);
	}
	else
	{
		var surveysPlot = jQuery.jqplot ('surveysChart', [['',1]], 
		{ 
			grid:{
				background: '#ffffff',
				renderer: $.jqplot.CanvasGridRenderer,
				drawBorder: false,
				shadow:false
			},
			seriesColors:['#f0f0f1'],
			seriesDefaults: {
				shadow:true,
				shadowAlpha: 0.1,
				renderer: jQuery.jqplot.PieRenderer, 
				rendererOptions: {
					diameter:220,
					padding: 25,
					highlightMouseOver:false
				}
			},
			legend:{
				show:false,
				location:"e"
			}	
		}
		);
	}
});
</script>
<div id='surveysChart' style='width:300px;height:300px'></div>
<table border=0 style="text-align:left" class='chartLegend'>
<tr><td><div class="legend" style='background-color: #{surveysVal1Color};'></div></td><td>{surveysVal1Name}</td><td>{surveysVal1Value}</td></tr>
<tr><td><div class="legend" style='background-color: #{surveysVal2Color};'></div></td><td>{surveysVal2Name}</td><td>{surveysVal2Value}</td></tr>
<tr><td><div class="legend" style='background-color: #{surveysVal3Color};'></div></td><td>{surveysVal3Name}</td><td>{surveysVal3Value}</td></tr>
</table>
<br>
</td>
