{Header}
<script language="javascript" type="text/javascript">
	$(function()
	{
		$(".tile").hover(function()
		{
			$(this).switchClass("", "tile_hovered", 200);
		}, function()
		{
			$(this).switchClass("tile_hovered", "", 200);
		}).click(function()
		{
			var skinId = $(this).attr("id");
			var editAlertUrl = "{editAlertPage}";
			if(skinId && skinId != "default")
			{
				editAlertUrl += "?skin_id=" + skinId;
			}
			document.location = editAlertUrl
		});
	});
</script>
<div>
	<ul style="list-style:none; margin:0px; padding:0px">
		<!--BeginDListTiles-->
		<li id="{tileId}" class="tile" style="float:left; margin:10px; padding:10px">
			<a href="{editAlertPage}?skin_id={tileId}">
				<div style="padding-bottom:5px"><span style="margin:0px" class="header_title">{tileName}</span></div>
				<div>
					<img border="0" src="skins/{folderName}/thumbnail.png?ts={fileTimestamp}"/>
				</div>
			</a>
		</li>
		<!--EndDListTiles-->
	</ul>
	<div style="clear:both; height:0px">
</div>
{Footer}