{Header}
<script>
    window.parent.parent.document.getElementById('menu').src = window.parent.parent.document.getElementById('menu').src;
	function showlockscreenPreview(alertId)
	{
		var data;
		getAlertData(alertId,false,function(alertData){	
			data = JSON.parse(alertData);
		});
		var imageSrc = data.alert_html.replace(/^admin\//, "");
		var position = data.fullscreen;
		$("#preview_image_src").val(imageSrc);
		$("#preview_position").val(position);

		var params  = 'width='+screen.width;
		params += ', height='+screen.height;
		params += ', top=0, left=0'
		params += ', fullscreen=yes';


		window.open('','preview_win', params);

		$("#preview_post_form").submit();
		hideLoader();
	}
	$(document).ready(function() {
		var width = $(".data_table").width();
		var pwidth = $(".paginate").width();
		if (width != pwidth) {
			$(".paginate").width("100%");
		}
		$(".main_table_title").prepend("<img src='images/menu_icons/lockscreen_20.png' alt='' width='20' height='20' border='0' style='padding-left:7px'>")
	});
	$(function(){
		$("#lockscreen_add_button").button();	
	});
</script>
<span class="work_header">{pageHeader}</span>
<table style="width:100%;margin-bottom:4px">
<tr>
	<td align="right">
		<!--BeginLockscreenAddButton-->
		<a id="lockscreen_add_button" href="{LockscreenAddLink}">{LockscreenAddStr}</a>
		<!--EndLockscreenAddButton-->
	</td>
</tr>
</table>
{paging}
{StartDeleteForm}
<table width="100%" cellspacing="0" cellpadding="3" class="data_table">
	<tr class="data_table_title">
		<td width="10px"><input type='checkbox' name='select_all' id='select_all' onclick='javascript: select_all_objects();'></td>
		<td class="table_title">{LockscreenNameStr}</td>
		{LockscreenStatusStr}
		<td class="table_title">{LockscreenCreationDateStr}</td>
		<td class="table_title">{LockscreenScheduledStr}</td>
		<td class="table_title">{LockscreenSenderStr}</td>
		<td class="table_title">{LockscreenActionStr}</td>
	</tr>
	<!--BeginDListLockscreens-->
	<tr align="center">
		<td width="10px">
			<input type="checkbox" name="objects" value="{LockscreenId}">
		</td>
		<td>
		{LockscreenName}
		</td>
		{LockscreenStatus}
		<td>
		<script language="javascript">document.write(getUiDateTime('{LockscreenCreationDate}'))</script>
		</td>
		<td>
		{LockscreenScheduled}
		</td>
		<td>
		{LockscreenSender}
		</td>
		<td nowrap="nowrap">
		{LockscreenActions}
		</td>
	</tr>
	<!--EndDListLockscreens-->
</table>
{EndDeleteForm}
{paging}
<br><br>
<form style="margin:0px; width:0px; height:0px; padding:0px" id="preview_post_form" action="lockscreen_preview.asp" method="post" target="preview_win">
		<input type="hidden" id="preview_image_src" name="image_src"  value=""/>
		<input type="hidden" id="preview_position" name="position"  value=""/>
</form>
{Footer}
