﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="AddIpGroups.aspx.cs" Inherits="DeskAlertsDotNet.Pages.AddIpGroups" %>
<%@ Import NameSpace="DeskAlertsDotNet.Parameters" %>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
