<script>
var MyTool = null;

function ToolBarInit(tool)
{
	MyTool=tool;
	EnableStat();
}

function EnableStat()
{
	MyTool.EnableStatistic = "1";
}

function DisableStat()
{
	MyTool.EnableStatistic = "0";
}

function ChangeState()
{
if(document.getElementById('stat_check').checked)
{
	EnableStat();

}
else
{	
	DisableStat();
}
}
</script>

<center><b>Toolbar installation successfull!</b><hr><br>

You have successfully installed the toolbar.<br><br>

<input id="stat_check" name="stat_check" type="checkbox" checked onClick="javascript:ChangeState();"> Enable web statistics 
</center>