﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="IpGroups.aspx.cs" Inherits="DeskAlertsDotNet.Pages.IpGroups" %>
<%@ Import NameSpace="Resources" %>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<title>DeskAlerts</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link href="css/style9.css" rel="stylesheet" type="text/css">
        <link href="css/jquery/jquery-ui.css" rel="stylesheet" type="text/css"/>
        <link href="css/jquery/jquery_timepicker/jquery-ui-timepicker-addon.css" rel="stylesheet" type="text/css">
        <script language="javascript" type="text/javascript" src="functions.js"></script>
        <script language="javascript" type="text/javascript" src="jscripts/jquery/jquery.min.js"></script>
        <script language="javascript" type="text/javascript" src="jscripts/jquery/jquery-ui.min.js"></script>
        <script language="javascript" type="text/javascript" src="jscripts/date.js"></script>
        <script language="javascript" type="text/javascript" src="jscripts/jquery/jquery_timepicker/jquery-ui-timepicker-addon.js"></script>
        <script language="javascript" type="text/javascript" src="jscripts/jquery/datepicker_fix.js"></script>
    <script language="javascript" type="text/javascript" src="jscripts/shortcut.js"></script>
        <script language="javascript" type="text/javascript">


            $(document).ready(function () {
                shortcut.add("Alt+N", function (e) {
                    e.preventDefault();
                    location.href = "EditIpGroups.aspx";
                });

                shortcut.add("delete", function (e) {
                    e.preventDefault();


                    if ($("#upDelete").length == 0)
                        return;


                    if (confirmDelete())
                        __doPostBack('upDelete', '');
                });

                $(".delete_button").button({
                });

                $("#selectAll").click(function () {
                    var checked = $(this).prop('checked');
                    $(".content_object").prop('checked', checked);
                });
                $(".add_alert_button").button({
                    icons: {
                        primary: "ui-icon-plusthick"
                    }
                });

                $(document).tooltip({
                    items: "img[title],a[title]",
                    position: {
                        my: "center bottom-20",
                        at: "center top",
                        using: function (position, feedback) {
                            $(this).css(position);
                            $("<div>")
                           .addClass("arrow")
                           .addClass(feedback.vertical)
                           .addClass(feedback.horizontal)
                           .appendTo(this);
                        }
                    }
                });



            });

            function confirmDelete() {
                if (confirm("Are you sure you want to delete selected items?") == true)
                    return true;
                else
                    return false;
            }

        </script>
</head>
<body>
    <form id="form1" runat="server">
    <table width="100%" border="0" cellspacing="0" cellpadding="6" height="100%">
	    <tr>
	    <td>
	    <table width="100%" height="100%" cellspacing="0" cellpadding="0" class="main_table">
		<td width="100%" height="31" class="main_table_title"><img src="images/menu_icons/ipgroups_20.png" alt="" width="20" height="20" border="0" style="padding-left:7px">
		<asp:LinkButton href="IpGroups.aspx" runat="server" id="headerTitle" class="header_title" style="position:absolute;top:22px" />
		</td>
            <tr>
            <td class="main_table_body" height="100%">
	                <br /><br />
                <div style="margin-left:10px;">
                <table style="padding-left: 10px;" width="100%" border="0">
                    <tbody><tr valign="middle"><td width="175">
                            <% = resources.LNG_SEARCH_IP_GROUP_BY_TITLE %> <input type="text" id="searchTermBox" runat="server" name="uname" value=""/></td>
                <td width="1%">
                    <br />
                    <asp:linkbutton runat="server" class="search_button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" id="searchButton" style="margin-right:0px" role="button" aria-disabled="false" Text="<span class='ui-button-icon-primary ui-icon ui-icon-search'></span><span class='ui-button-text'>{Search}</span>"/>
	                <input type="hidden" name="search" value="1">
                </td>

                <td>
                    <a class="add_alert_button" title="Hotkey: Alt+N" runat="server" id="addButton"  style="float:right;margin-right: 7px;" href="EditIpGroups.aspx" role="button" aria-disabled="false"><%=resources.LNG_ADD_GROUP %></a>
                </td>
                  </tr></tbody>

                </table>	
                </div>
			<div style="margin-left:10px" runat="server" id="mainTableDiv">

			   <table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr><td> 
					<div style="margin-left:10px" id="topPaging" runat="server"></div>
				</td></tr>
				</table>
				<br>
				<asp:LinkButton style="margin-left:10px"  title="Hotkey: Delete" runat="server" id="upDelete" class='delete_button' />
				<br><br>
				<asp:Table style="padding-left: 0px;margin-left: 10px;margin-right: 10px;" runat="server" id="contentTable" Width="98.5%" Height="100%" CssClass="data_table" CellSpacing="0" CellPadding="3">
				<asp:TableRow CssClass="data_table_title">
					<asp:TableCell runat="server" id="headerSelectAll" CssClass="table_title" Width="2%" >
						<asp:CheckBox id="selectAll" runat="server"/>
					</asp:TableCell>
					<asp:TableCell runat="server" id="groupNameCell" CssClass="table_title" ></asp:TableCell>
                    <asp:TableCell runat="server"  Width="8%" id="actionsCell" CssClass="table_title"></asp:TableCell>
				</asp:TableRow>
				</asp:Table>
				<br>
				 <asp:LinkButton style="margin-left:10px"  title="Hotkey: Delete" runat="server" id="bottomDelete" class='delete_button'  />
				 <br><br>
				 <table width="100%" border="0" cellspacing="0" cellpadding="0">
				 
				<tr><td> 
					<div style="margin-left:10px" id="bottomRanging" runat="server"></div>
				</td></tr>
				</table>
			</div>
			<div runat="server" id="NoRows">
                <br />
                <br />
				<center><b><%=resources.LNG_THERE_ARE_NO_GROUPS %></b></center>
			</div>
			<br><br>
            </td>
            </tr>
           
 
            
             </table>
    </table>
    </form>
</body>
</html>
