
<script>
	$.getJSON('http://whateverorigin.org/get?url=' +
	encodeURIComponent('http://deskalerts.com/test.php') + '&callback=?')
	.done(function(data) {
		var response = $.parseJSON(data.contents);
		if (response.result == "true") {
			$("#newsBanner").append("<a target='_blank' href='" + response.link + "'><img src='" + response.image + "'/></a>");
		}
		else { $("#newsBanner").hide(); }
	})
	.fail(function(data) {
		$("#newsBanner").hide();
	})
</script>
