		<!--BeginPageNavigator-->
			<!--BeginFirstPageNavigator-->
			<a href="{url}"><font class="ColumnFONT">First</font></a>
			<!--EndFirstPageNavigator-->

			<!--BeginPreviousPageNavigator-->
			<a href="{url}"><font class="ColumnFONT">Previous</font></a>
			<!--EndPreviousPageNavigator-->

			[ {StatCurrentPage} ]

			<!--BeginNextPageNavigator-->
			<a href="{url}"><font class="ColumnFONT">Next</font></a>
			<!--EndNextPageNavigator-->

			<!--BeginLastPageNavigator-->
			<a href="{url}"><font class="ColumnFONT">Last</font></a>
			<!--EndLastPageNavigator-->

		<!--EndPageNavigator-->