<script>
$(function(){
//$("#maintenance_reminder_button").button();
//$("#maintenance_reminder_button").hide();
            $.ajax({
			url: 'show_maintenance_rem.asp',
			success: function(data) { 
			if(data<90)
			{
				//$("#maintenance_reminder_button").button();
				$("#maintenance_reminder_button").css('display','');
				
				$("#maintenance_reminder_button").button();
				//$(".ui-icon ui-icon-alert").css('background-color','#FFFFFF');
				 //8C0000 rgba(140,0,0,0.5)
				
				//$("#maintenance_reminder_button").show();
			}
			/*else
			{
				$("#maintenance_reminder_button").hide();
			}*/
			}});

$("#maintenance_reminder_button").click(function()
	{
		var $jParent = window.parent.main.jQuery.noConflict();
		var dlg1 = $jParent('#maintenance_reminder').load('reminder.asp?action=button');
		dlg1.dialog({
			
			title: "Maintenance Expiration Reminder",
			height: 610,
			width: 800,
			draggable: false,
			resizable: false,
			modal: true,
			beforeClose: function(event, ui){
			
			var dlg2 = $jParent('#maintenance_checkbox');
			
			},
			open: function(event,ui)
			{
				$("#maintenance_reminder_button").hide();
			},
			close:
			function(event,ui){
				$("#maintenance_reminder_button").show();
			},
			show:
			{
				effect: "fade",
				duration: 300
			},
			hide:
			{
				effect: "fade",
				duration:300
			}
			});
			
    });
});
</script>

<a href="#" class='logout' id="maintenance_reminder_button" style="text-align:center;display:none;">
	<span class="ui-icon ui-icon-alert" ></span>
</a>


