{Header}
		<table width="98%" border="0" cellspacing="0" cellpadding="0">
		<tr valign="top"><td>	<span class="work_header">Searches</span><br><br>

		<table border="1" bordercolor="#EAE9E1" cellspacing="0" cellpadding="3" class="body">
		<tr bgcolor="#EAE9E1">
		<td class="table_title">Searches</td>
		<td class="table_title">Count</td>
				</tr>
     <!--BeginDListSearchesStat-->
  <tr align="center"><td>
{strSearch}
  </td><td>
{strSearchCount}
</td></tr>
     <!--EndDListSearchesStat-->

</table><br><center>
                <a href="javascript: history.go(-1);javascript: history.go(-1);return false;">Back</a><br></center>
<!--			<table border="1"><tr><td>Engine</td><td>Searches</td><td>Count</td></tr>
			<tr><td>{strEngine}</td><td>{strSearch}</td><td>{strSearchCount}</td></tr>
			</table>-->
		</td></tr>
		</table>
{Footer}