{Header}

<script language="JavaScript">
<!--
function BuildStartDays(imonth, type) {
	if (type != 1) frm = document.frmList.to_day;
	else frm = document.frmList.from_day;
	frm.length=0;
	var month = imonth+1
	var days = 31;
	switch (month) {
		case 2: days=28
			break
		case 4: days=30
			break
		case 6: days=30
			break
		case 9: days=30
			break
		case 11: days=30
			break
	}
	//Loop through the days and rebuild the days option
	for(ctr=0;ctr<=days;ctr++) {
		frm.options[ctr]=new Option(ctr+1,ctr+1);
	}
	frm.length=days;
	frm.selectedIndex=0;
}
// -->
function my_disable(i)
{
//	alert(i);
	if(i==1) 
	{
		document.getElementById("range").disabled=true;
		document.getElementById("from_day").disabled=false;
		document.getElementById("from_month").disabled=false;
		document.getElementById("from_year").disabled=false;
		document.getElementById("to_day").disabled=false;
		document.getElementById("to_month").disabled=false;
		document.getElementById("to_year").disabled=false;
	}
	else
	{
		document.getElementById("range").disabled=false;
		document.getElementById("from_day").disabled=true;
		document.getElementById("from_month").disabled=true;
		document.getElementById("from_year").disabled=true;
		document.getElementById("to_day").disabled=true;
		document.getElementById("to_month").disabled=true;
		document.getElementById("to_year").disabled=true;
	}

}
</script>

		<span class="work_header">Toolbar Summary</span><br>
		<!-- <b><center>Installation Statistics</center></b> -->
		This section contains total information about your toolbars - number of installs, uninstalls, clicks and searches.<br><br>


		<table width="98%" border="1" bordercolor="#EAE9E1" cellspacing="0" cellpadding="3" class="body">
		<tr bgcolor="#EAE9E1">
		<td class="table_title">Name</td>
		<td class="table_title">Installs</td>
		<td class="table_title">Uninstalls</td>
		<td class="table_title">Clicks</td>
		<td class="table_title">Searches</td>
				</tr>
     <!--BeginDListToolbarStat-->
  <tr align="center"><td>
  {strToolbarName}
  </td><td>
  {intInstallNum}
  </td><td>
  {intUninstallNum}
  </td><td>
  {intClicksNum}
  </td><td>
  {intSearchesNum}
  </td></tr>
     <!--EndDListToolbarStat-->

</table><br><br>
<table border=0 class="body" width="98%"><tr><td valign="top">
		<span class="work_header">Toolbar Usage</span><br>
<!-- <b><center>Toolbar Usage</center></b> -->
This section contains day-by-day toolbars usage statistics.
</td><td>
<form name=frmList method=get>

<table cellpadding="2" cellspacing="2" border="0" align="right" class="body">
<tr><td>Select date period: </td><td>
<input type="radio" name="select_date_radio" value="1" {strCheckedOption1} onClick="javascript: my_disable(2);"/> 
<select name="range" id="range" {strEnabledOption1} style="font-size: 9pt;">
<option value="1" {strSelectedOption1} >Today</option>
<option value="2" {strSelectedOption2}>Yesterday</option>
<option value="3" {strSelectedOption3}>Last 7 days</option>
<option value="4" {strSelectedOption4}>This month</option>
<option value="5" {strSelectedOption5}>Last month</option>
<option value="6" {strSelectedOption6}>All time</option></select><br>

<input type="radio" name="select_date_radio" value="2" {strCheckedOption2} onClick="javascript: my_disable(1);"/> 
<select name="from_month" id="from_month" size="1" onChange="BuildStartDays(this.selectedIndex, 1);" {strEnabledOption2} style="font-size: 9pt;">
{strFromMonth}
</select>
<select name="from_day" id="from_day" size="1" {strEnabledOption2} style="font-size: 9pt;">
{strFromDay}
</select>
<select name="from_year" id="from_year" size="1" {strEnabledOption2} style="font-size: 9pt;">
{strFromYear}
</select><font face="verdana" size=2>-</font><select name="to_month" id="to_month" size="1" onChange="BuildStartDays(this.selectedIndex,0);" {strEnabledOption2} style="font-size: 9pt;">
{strToMonth}
</select>
<select name="to_day" id="to_day" size="1" {strEnabledOption2} style="font-size: 9pt;">
{strToDay}
</select>
<select name="to_year" id="to_year" size="1" {strEnabledOption2} style="font-size: 9pt;">
{strToYear}
</select>
</td><td valign="middle">
<input name="sub" type="image" src="images/show_button.gif" alt="Show statistics">
<input type="hidden" name="type" value="{strType}"/>
</td></tr></table>
</td></tr></table>
</form>

     <!--BeginDListToolbar-->
<span class="work_header">Toolbar: {strToolbarName}</span><br><br>

<table width="98%" border="1" bordercolor="#EAE9E1" cellspacing="0" cellpadding="3" class="body">
	<tr bgcolor="#EAE9E1">
	<td class="table_title">Date</td>
	<td class="table_title">Installs</td>
	<td class="table_title">Uninstalls</td>
	<td class="table_title">Clicks</td>
	<td class="table_title">Searches</td>
	</tr>
     <!--BeginDListStat-->
  <tr align="center"><td>
  {strToolbarDate}
  </td><td>
  {intToolbarInstalls}
  </td><td>
  {intToolbarUninstalls}
  </td><td>
<a href='#' onclick="javascript: window.open('view_tb_stat_detailed.asp?date={strToolbarDate}&toolbar_id={intToolbarId}','', 'status=0, toolbar=0, width=750, height=450, scrollbars=1')">{intToolbarClicks}</a>
  </td><td>
<a href='#' onclick="javascript: window.open('view_tb_stat_detailed.asp?date={strToolbarDate}&toolbar_id={intToolbarId}','', 'status=0, toolbar=0, width=750, height=450, scrollbars=1')">{intToolbarSearches}</a>
  </td></tr>
     <!--EndDListStat-->
  <tr align="center"><td>
  <b>TOTAL</b>
  </td><td>
  <b>{strToolbarTotalInstalls}</b>
  </td><td>
  <b>{strToolbarTotalUninstalls}</b>
  </td><td>
  <b>{strToolbarTotalClicks}</b>
  </td><td>
  <b>{strToolbarTotalSearches}</b>
  </td></tr>
</table><br><br>
     <!--EndDListToolbar-->
{Footer}
