{Header}
		<table width="98%" border="0" cellspacing="0" cellpadding="0">
		<tr valign="top"><td>		<span class="work_header">Clicks</span><br><br>

		<table width="250" border="1" bordercolor="#EAE9E1" cellspacing="0" cellpadding="3" class="body">
		<tr bgcolor="#EAE9E1">
		<td class="table_title">URL</td>
		<td class="table_title">Count</td>
				</tr>
     <!--BeginDListClicksStat-->
  <tr align="center"><td>
{strURL}
  </td><td>
{strClickCount}
  </td></tr>
     <!--EndDListClicksStat-->

</table><br><br>

<!--			<table border="1"><tr><td>URL</td><td>Count</td></tr>
			<tr><td>{strURL}</td><td>{strClickCount}</td></tr>
			</table>-->

		</td><td>&nbsp;</td><td>		<span class="work_header">Searches</span><br><br>

		<table width="250" border="1" bordercolor="#EAE9E1" cellspacing="0" cellpadding="3" class="body">
		<tr bgcolor="#EAE9E1">
		<td class="table_title">Engine</td>
		<td class="table_title">Count</td>
				</tr>
     <!--BeginDListSearchesStat-->
  <tr align="center"><td>
{strEngine}
  </td><td>
{strSearchCount}
</td></tr>
     <!--EndDListSearchesStat-->

</table><br><br>
<!--			<table border="1"><tr><td>Engine</td><td>Searches</td><td>Count</td></tr>
			<tr><td>{strEngine}</td><td>{strSearch}</td><td>{strSearchCount}</td></tr>
			</table>-->
		</td></tr>
		</table>
{Footer}