{Header}

<!-- TinyMCE -->
<script language="javascript" type="text/javascript" src="jscripts/tiny_mce/tinymce.min.js"></script>
<!-- /TinyMCE -->
<script language="javascript" type="text/javascript">


    (function($) {
        $(function() {
            $("#screensaver_table").tabs();
            resizeAllframes();
        });

    })(jQuery);

    function resizeIframe(id) {
        var iframeDoc = document.getElementById(id);
        iframeDoc.height = window.frameElement.scrollHeight - 150;
        var h;
        if (iframeDoc.contentDocument) {
            h = iframeDoc.contentDocument.documentElement.scrollHeight; //FF, Opera, and Chrome
            h = iframeDoc.contentDocument.body.scrollHeight; //ie 8-9-10
            if (iframeDoc.height < h) iframeDoc.height = h;
        }
        else {
            h = iframeDoc.contentWindow.document.body.scrollHeight; //IE6, IE7 and Chrome
            if (iframeDoc.height < h) iframeDoc.height = h;
        }
    }
   
    function resizeAllframes() {
        var height = window.frameElement.scrollHeight - 150;
        document.getElementById('if_powerpoint_button').height = height;
        document.getElementById('if_image_button').height = height;
        document.getElementById('if_html_button').height = height;
    }    
</script>
<table class="main_table_body" width="100%" scrolling="auto" height="100%">
<tr><td>
<div id="screensaver_table"  style="padding:0px;height:100%;width:100%;border:none; ">
		            <ul>
			            <li><a href="#screensaver_powerpoint_button" onclick="resizeIframe('if_powerpoint_button');">{Select_file} <img border=0 style="cursor:pointer;cursor:hand" src="images/help.png" title="{LNG_SELECT_FILE}"/></a></li>   			
			            <li><a href="#screensaver_image_button"  onclick="resizeIframe('if_image_button');" >{Record} <img border=0 style="cursor:pointer;cursor:hand" src="images/help.png" title="{LNG_RECORD}"/></a></li>
			            <li><a href="#screensaver_html_button"  onclick="resizeIframe('if_html_button');">{Embed} <img border=0 style="cursor:pointer;cursor:hand" src="images/help.png" title="{LNG_EMBED}"/></a></li>           						           			
		            </ul>
		            <a id="screensaver_powerpoint_button"><iframe id="if_powerpoint_button" frameborder="no" style="width:100%;" src="{videos_edit_url_select}"></iframe></a>
		            <a id="screensaver_image_button"><iframe id="if_image_button" frameborder="no" style=" width:100%;" src="{videos_edit_url_record}"></iframe></a>
		            <a id="screensaver_html_button"><iframe id="if_html_button" frameborder="no"  style="width:100%;" src="{videos_edit_url_embed}"></iframe></a>
    </div>
	</td></tr>
	</table>
	
{Footer}