<style>
	html, body	{
		padding: 0px;
		margin: 0px;
		overflow: auto;
		width:100%;
		height:100%
	}
	.container{
		margin:0 auto;
		color: black;
		overflow:hidden;
	}
</style>
<div style="position:absolute;  text-align:center; vertical-align:middle; left:0px; top:50%; margin-top:0px; height:300px; margin-left:0px; width:100%; ">
	<div style="position:relative; top:-50%">
		<img src="{DeskAlertsAdminPath}admin/images/DeskAlerts Logo.png"/>
	</div>
</div>