#tree_container{
height:550px;
width:100%;
position:relative;
}

#tree_view_page_header
{
height:150px;
width:100%;
background-color: #dedede;
}
#tree_view_page_footer
{
height:50px;
width:100%;
background-color: #dedede;
}

#reciver_selector
{
height:550px;
width:100%;
background-color: #dedede;
}

/*...................................................................................
===============GLOBAL=================
......................................................................................*/

.mif-tree-wrapper{
/*position: absolute;*/
width: 100%;
margin:0;
padding:0;
overflow:auto;
font-family:sans-serif;
font-size:24px;
line-height:18px;/******Tree node height******/
white-space:nowrap;
cursor:default;
}

.mif-tree-bg{
width:100%;
height:100%;
position:absolute;
overflow:hidden;
}

.mif-tree-bg-container{
width:100%;
display:none;
}

.mif-tree-bg-node{
width:100%;
height:24px;
}

.mif-tree-bg-selected{
background-color:#dcd7ab;
}

.mif-tree-wrapper:focus{
outline:0;
}

.mif-tree-wrapper span{
padding-bottom:2px;
padding-top:2px;
cursor:inherit;
}

.mif-tree-children{
padding-left:20px;
width:24px;
}

.mif-tree-node{
width:24px;
position:static;
background:url('mootools/images/line.gif') repeat-y 8px 0px;
}

.mif-tree-node-last{
width:24px;
background:url('mootools/images/line.gif') no-repeat 8px 0px;
}

.mif-tree-name{
cursor: default;
overflow:hidden;
margin-left:1px;
font-size:12px;
}

.mif-tree-name a{
color:red;
}

.mif-tree-name a:hover{
color:blue;
}


.mif-tree-node-wrapper{
background:url('mootools/images/horizontal-line.gif') no-repeat 9px center;
}

/*...................................................................................
================GADJETS=================
......................................................................................*/

.mif-tree-gadjet{
background-image:url('mootools/images/gadjets.gif');
padding-right: 16px;
z-index:1;
overflow:hidden;
background-repeat:no-repeat;
cursor:default;
}

.mif-tree-gadjet-none{
background:none;
}

.mif-tree-gadjet-minus{
background-position: 0px 50%;
}

.mif-tree-gadjet-plus{
background-position: -18px 50%;
}


.mif-tree-gadjet-hover .mif-tree-gadjet-minus{
background-position: -54px 50%;
}

.mif-tree-gadjet-hover .mif-tree-gadjet-plus{
background-position: -72px 50%;
}



/*.mif-tree-gadjet-hover{
background-image:url('mootools/images/gadjets-hover.gif');
}*/




/*...................................................................................
================ICONS=================
......................................................................................*/
.mif-tree-icon{
padding-right:24px;
background-position:0 50%;
background-repeat:no-repeat;
cursor:inherit;
}

.mif-tree-organization-icon{
background-image:url('mootools/images/organization.png')
}

.mif-tree-domain-icon{
background-image:url('mootools/images/domain.png')
}

.mif-tree-ou-icon{
background-image:url('mootools/images/ou.png')
}

.mif-tree-loader-icon{
background-image:url('mootools/images/mootree_loader.gif')
}


/*...................................................................................
================SELECTION=================
......................................................................................*/

.mif-tree-node-selected .mif-tree-name{
background-color: #010161;
color:#fff;
text-transform:italic;
}

.mif-tree-highlighter{
height:18px;
overflow:hidden;
width:100%;
background:#b64553;
position:absolute;
}








/*...................................................................................
===============D'n'D=================
......................................................................................*/
.mif-tree-pointer{
height:1px;
overflow: hidden;
position: absolute;
background-image:url('mootools/images/1.gif');
background-repeat:repeat-x;
background-color:#292fef;
}


.mif-tree-ghost{
background-color:#fff;
border:solid 2px #e8e8f7;
padding-left:2px;
}

.mif-tree-ghost .mif-tree-node-wrapper{
background:none;
}

.mif-tree-ghost span.mif-tree-text{
padding-top:1px;
padding-bottom:1px;
}

.mif-tree-ghost-icon{
padding-left:16px;
background-color:#fff;
background-repeat:no-repeat;
background-image:url('mootools/images/dropzone.gif');
}

.mif-tree-ghost-after{
background-position:-64px 2px;
}

.mif-tree-ghost-before{
background-position:-48px 2px;
}

.mif-tree-ghost-between{
background-position:-16px 2px;
}

.mif-tree-ghost-inside{
background-position:-0px 2px;
}

.mif-tree-ghost-notAllowed{
background-position:-32px 2px;
}

.mif-tree-drag-current{
background-color:#cfcfd8;
}

.mif-tree-replace{
background-color:#99c8fb;
}





/*...................................................................................
================CHECKBOX=================
......................................................................................*/
.mif-tree-checkbox{
padding-left:18px;
background-image:url('mootools/images/checkboxes.gif');
background-repeat: no-repeat;
}

.mif-tree-node-checked{
background-position:0px center;
}

.mif-tree-node-unchecked{
background-position:-18px center;
}

.mif-tree-node-nochecked{
background-position:-108px center;
display:none;
}

.mif-tree-hover-checkbox .mif-tree-node-checked{
background-position:-36px center;
}

.mif-tree-hover-checkbox .mif-tree-node-unchecked{
background-position:-54px center;
}

.mif-tree-node-partially{
background-position:-72px center;
}

.mif-tree-hover-checkbox .mif-tree-node-partially{
background-position:-90px center;
}






/*...................................................................................
===============RENAME=================
......................................................................................*/
.mif-tree-rename{
display: inline;
line-height: 14px;
height:14px;
cursor: default;
overflow:hidden;
font-family:sans-serif;
font-size:11px;
padding:1px 0;
border:solid 1px black;
}